<div>
  <form class="form-inline">
    <utils-simple-selector pick="groupBy" list="fields" key="'label'"> 分析群集: </utils-simple-selector>
    <utils-simple-selector pick="period" list="periods" key="'label'"> 推移圖單位: </utils-simple-selector>
    <utils-simple-selector pick="pRange" list="pRanges" key="'idx'"> 推移圖區間: </utils-simple-selector>
  </form>
  <div style="margin: 5px 10px 5px 10px;">
    <form class="form-inline">
      <label>排序: </label>
      <div class="btn-group">
        <button type="button" class="btn btn-success" ng-click="sortBy='ABDR'">達交率</button>
        <button type="button" class="btn btn-success" ng-click="sortBy='REPAIR'">結單數</button>
        <button type="button" class="btn btn-success" ng-click="sortBy='APPLY'">申請數</button>
      </div>
    </form>
  </div>
  <div cid="abdr-grpcht-{{$id}}" uib-popover-html="grpTips" popover-trigger="'mouseenter'" popover-placement="top-right" class="utils-loading-chart grp" is-loading="grpLoading"></div>
  <div cid="abdr-trdcht-{{$id}}" class="utils-loading-chart trd" is-loading="trdLoading" ng-show="showTrend"></div>
  <div cid="abdr-rppcht-{{$id}}" class="utils-loading-chart grp" uib-popover-html="fmTips" 
        popover-trigger="'mouseenter'" popover-placement="top-right" is-loading="rppLoading"></div>
  <div cid="abdr-rpicht-{{$id}}" class="utils-loading-chart fm" is-loading="rpiLoading"></div>
  <label class="text-primary"> ［維修紀錄］{{ rowNum }} 筆 </label>
  <div>
    <div class="ag-blue abdr-grid" ag-grid="repairGrid"></div>
  </div>
</div>