<div class="tab-content abdr">
  <div class="package-title">
    <h1>AMS BIB/DRIVER Repair</h1>
    <hr>
  </div>
  <fieldset ng-disabled="isSearching()">
    <div class="srch-panel">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <form class="form-inline">
            <b>[申請]</b><search-date selected="selected" need="true"></search-date>
          </form>
          <form class="form-inline">
            <b>[結單]</b><search-date selected="selected2" need="true"></search-date>
          </form>
        </div>
        <div class="col-lg-6">
          <div class="pull-right">
            <schema-selector schema="schema"></schema-selector>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div ng-repeat="f in fields">
          <search-filter field=f fields=fields query-url="fieldSearchURL" extra-match="selected"></search-filter>
        </div>
      </div>
      <div class="col-lg-12" style="margin: 15px 10px 10px 10px;">
        <form class="form-inline">
          <button type="button" class="btn btn-primary" ng-click="ok()">查詢</button>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" ng-click="searchBy='BIB'">
              <input type="radio" name="options"> BI board
            </label>
            <label class="btn btn-default" ng-click="searchBy='DRV'">
              <input type="radio" name="options"> BI driver
            </label>
          </div>
        </form>
      </div>
    </div>
    <uib-tabset class="abdr-tab" active="$root.abdr_active" ng-show="tabs.list.length>0">
      <uib-tab ng-repeat="t in tabs.list" index="t.id">
        <uib-tab-heading>
          {{t.title}} <a id="close-btn" ng-click="tabs.removeTab($index)"><i class="glyphicon glyphicon-remove"></i></a>
        </uib-tab-heading>
        <abdr-data-panel tb="tabs.list[$index]"/>
      </uib-tab>
    </uib-tabset>
  </fieldset>
</div>
