.te_stm-example span {
    font-weight: bold;
}

.te_stm h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 14px;
}

.te_stm label.with-input {
    float: left;
}

.te_stm span.follow-tag {
    display: block; 
    overflow: hidden; 
    padding: 0 4px 0 4px;
}

.te_stm-grid {
    height: 450px;
}

.te_stm .greenBackground {
    background-color: lightgreen;
}

.te_stm .btn-socket {
    border-color: black;
    border-radius: 0px;
    border: 1px solid;
    width: 50px;
    height: 45px;
    padding: 11px 12px;
}

.te_stm .btn-column {
    border: 0px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.te_stm .btn-column-title {
    border: 0px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.te_stm .btn-column-sub {
    border: 0px solid;
    width: 50px;
    height: 30px;
    padding: 5px;
    float: left;
    margin: 0;
    text-align: center;
}

.te_stm .socket-matrix {
    border-collapse: collapse;
}

.te_stm .td-socket { 
  padding:0px; 
  border-width:0px; 
  margin:0px; 
}

.te_stm .btn.btn-oven {
    border-bottom-width: 2px;
    border-radius: 4px !important;
    border-color: #286090;
    background: white;
    color: #286090;
    font-size: 20px;
}
.te_stm .btn.btn-slot {
    border-bottom-width: 2px;
    border-radius: 4px !important;
    border-color: #a7c9a1;
    background: white;
    color: #6ea465;
    font-size: 14px;
    width: 80px;
    height: 44px;
}
