<div class="package-title">
  <h1>Channel Test</h1>
  <hr>
</div>
<div class="col-lg-12">
  <div style="float:left;"><search-date selected="selected"></search-date></div>
</div>
<div class="col-lg-12" style="margin-bottom:25px;">
    <hr>
    <div ng-repeat="f in mbifields">
      <search-filter field=f fields=mbifields query-url="mbifsURL" extra-match="filterExtraMatch"></search-filter>
    </div>
    <!-- Zone & Slot selection -->
    <div class="col-sm-2">
      <label class="text-primary" >ZoneID</label>
      <ui-select multiple ng-model="zoneSlotOpts.zone.selected">
      <ui-select-match>{{$item}}</ui-select-match>
      <ui-select-choices repeat="zone in zoneSlotOpts.zone.list | filter:$select.search">
        {{zone}}
      </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-sm-2">
      <label class="text-primary" >SlotID</label>
      <ui-select multiple ng-model="zoneSlotOpts.slot.selected">
      <ui-select-match>{{$item}}</ui-select-match>
      <ui-select-choices repeat="slot in zoneSlotOpts.slot.list | filter:$select.search">
        {{slot}}
      </ui-select-choices>
      </ui-select>
    </div>
</div>
<!-- Choice analysis type -->
<div class="col-lg-12">
  <div class="col-sm-2">
    <label class="text-primary" >分析層面</label>
    <div class="btn-group vcenter">
      <label class="btn btn-default" ng-model="queryParams.type" uib-btn-radio="0" ng-click="changeType(0)">現況</label>
      <label class="btn btn-default" ng-model="queryParams.type" uib-btn-radio="1" ng-click="changeType(1)">歷史</label>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div style="margin-top: 20px;margin-bottom: 10px;">
    <button type="button" class="btn btn-primary" ng-click="queryData()" ng-disabled="waitingResponse">查詢
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="waitingResponse"></i>
    </button>
    <label class="text-primary"> ［查詢狀態］{{ requestStatus }} ,</label>
    <label class="text-primary" ng-show="queryTime"> 查詢時間］{{ queryTime/1000 | number:2 }}秒 ,</label>
    <label class="text-primary"> ［查詢筆數］{{ rowNum }} ,</label>
    <label class="text-primary"> ［分析類型］{{ queryType }} </label>
  </div>
  <!-- 現況分析 -->
  <div ng-show="queryParams.type==0">
    <!-- Navigation Tab -->
    <ul class="nav nav-tabs">
      <li id="cur-chart" class="active"><a data-toggle="tab" href="#curcharttab">Chart</a></li>
      <li id="cur-rawdata"><a data-toggle="tab" href="#curtabletab">Raw Data</a></li>
      <li id="cur-others"><a data-toggle="tab" href="#curotherstab">其他訊息</a></li>
    </ul>
    <!-- Tab Content -->
    <div class="tab-content" style="padding-top:10px;">
      <div id="curcharttab" class="tab-pane in active">
        <ct-cur-chart data="curChartData"></ct-cur-chart>
      </div>
      <div id="curtabletab" class="tab-pane">
        <ct-cur-grid data="curChartData"></ct-cur-grid>
      </div>
      <div id="curotherstab" class="tab-pane">
        <p ng-show="curAnalysisTime.to">{{curAnalysisTime.from.toLocaleString()}} 至 {{curAnalysisTime.to.toLocaleString()}} 三個月內沒進行CT的爐號</p>
        <table class="table table-bordered">
          <tr ng-repeat="cols in noctovens">
            <td ng-repeat="oven in cols track by $index">{{ oven }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- 歷史分析 -->
  <div ng-show="queryParams.type==1">
    <!-- Navigation Tab -->
    <ul class="nav nav-tabs">
      <li id="his-chart" class="active"><a data-toggle="tab" href="#hischarttab">History</a></li>
    </ul>
    <!-- Tab Content -->
    <div class="tab-content" style="padding-top:10px;">
      <div id="hischarttab" class="tab-pane in active">
        <ct-his-chart data="hisChartData"></ct-his-chart>
      </div>
    </div>
  </div>
</div>
