<div class="dutmap">
  <div id="dutmap-{{$id}}">
    <h3 ng-transclude></h3>
    <table class="dut-matrix">
      <thead>
        <tr>
          <th ng-repeat="i in xlabel" style="color:#000000;text-align:center"> {{ i }} </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in dutMaps">
          <td ng-repeat="dut in row track by $index">
            <button type="button" uib-popover="DUT {{dutMaps.indexOf(row)*row.length + $index}}" 
              popover-trigger="'mouseenter'" class="btn btn-default" ng-style="btnStyle($index, $parent.$index, dut)">
            {{dut}}
            </button>
          </td>
          <td style="color:#000000;font-weight:bold;"> &nbsp; {{dutMaps.indexOf(row) + 1}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dut-btn">
    <button class="btn btn-info" ng-click="exportDutMap($id)">下載 png</button>
  </div>
</div>
<div id="img-out"></div>
