<div class="tab-content mtbf">
  <div class="package-title">
    <h1>MTBF</h1>
    <hr>
  </div>
  <fieldset ng-disabled="isSearching()">
    <div class="srch-panel">
      <div class="col-lg-12">
        <form class="form-inline">
          <search-date selected="selected"></search-date>
          <div class="pull-right">
            <schema-selector schema="schema"></schema-selector>
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <div ng-repeat="f in fields">
          <search-filter field=f fields=fields query-url="fieldSearchURL" extra-match="selected"></search-filter>
        </div>
        <div style="text-align: center; margin-top: 35px">
          <label class="text-primary"> 維修次數 </label>
          <input type="number" ng-model="llm" style="width: 50px;"/>
          至 
          <input type="number" ng-model="hlm" style="width: 50px;"/>
        </div>
      </div>
      <div class="col-lg-12" style="margin: 15px 10px 10px 10px;">
        <form class="form-inline" role="form">
          <button type="button" class="btn btn-primary" ng-click="ok()">查詢
            <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching()"></i>
          </button>
          <label class="text-primary"> ［查詢狀態］{{ requestStatus.str }} </label>
          <label class="text-primary" ng-show="requestStatus.queryTime">,［查詢時間］{{ requestStatus.queryTime/1000 | number:2 }}秒</label>
          <label class="text-primary" ng-show="requestStatus.rowNum">,［查詢筆數］{{ requestStatus.rowNum }} </label>
          <div class="pull-right">
            <errcode-upload></errcode-upload>
          </div>
        </form>
      </div>
    </div>
    <uib-tabset class="mtbf-tab" active="$root.active" ng-show="tabs.list.length>0">
      <uib-tab ng-repeat="t in tabs.list" index="t.id">
        <uib-tab-heading>
          {{t.title}} <a id="close-btn" ng-click="tabs.removeTab($index)" href=''><i class="glyphicon glyphicon-remove"></i></a>
        </uib-tab-heading>
        <mtbf-data-panel tb="tabs.list[$index]"/>
      </uib-tab>
    </uib-tabset>
  </fieldset>
</div>
