<div>
  <form class="form-inline">
    <utils-simple-selector pick="groupBy" list="fields" key="'label'"> 分析群集: </utils-simple-selector>
    <utils-simple-selector pick="period" list="periods" key="'label'"> 推移圖單位: </utils-simple-selector>
    <utils-simple-selector pick="pRange" list="pRanges" key="'idx'"> 推移圖區間: </utils-simple-selector>
  </form>
  <div cid="mtbf-grpcht-{{$id}}" uib-popover-html="grpTips" popover-trigger="'mouseenter'" popover-placement="top-right" class="utils-loading-chart grp" is-loading="grpLoading"></div>
  <div cid="mtbf-trdcht-{{$id}}" class="utils-loading-chart trd" is-loading="trdLoading" ng-show="showTrend"></div>
  <div ng-show="showFailureModeBtn">
    <button class="btn btn-success" ng-click="showFMode()" style="margin-bottom: 10px">顯示 Failure Mode 分析</button>
  </div>
  <div ng-show="showFailureMode">
    <div cid="mtbf-fmcht-{{$id}}" class="utils-loading-chart trd" is-loading="fmLoading"></div>
  </div>
  <div ng-show="showRepairDetail">
    <div cid="mtbf-dutcht-{{$id}}" class="utils-loading-chart trd" is-loading="dutLoading"></div>
    <label class="text-primary"> ［Dut 維修紀錄 ({{ binfo.ASSSERIALNO }})］{{ rowNum }} 筆 </label>
    <div>
      <div class="ag-blue mtbf-grid" ag-grid="repairGrid"></div>
      <hr></hr>
      <div class="repair-detail">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <mtbf-dut-map binfo="binfo" duts="dutRepairs" use-dut-num="false">板維修次數疊圖</mtbf-dut-map>
          </div>
          <div class="col-lg-6">
            <mtbf-dut-map binfo="binfo" duts="failBinMap" use-dut-num="true">Fail BinMap 疊圖</mtbf-dut-map>
            {{ binMapLoading }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>