<button type="button" class="btn btn-warning" uib-popover="上傳及更新 ERRCODE 呈現定義" popover-trigger="'mouseenter'"
  data-toggle="modal" data-target="#mtbfERRCODEUpload">ERRCODE 管理</button>
<!-- Modal -->
<div class="modal fade" id="mtbfERRCODEUpload" tabindex="-1" role="dialog" aria-labelledby="mtbfERRTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="mtbfERRTitle">ERRCODE 呈現管理</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="btn btn-light" ng-click="switch(true)" ng-style="curStyle">現況</button>
        <button class="btn btn-light" ng-click="switch(false)" ng-style="updateStyle">上傳更新{{status}}</button>
        <div ng-show="showCur">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="f in cols">{{ f.label }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in curDefs">
                <td ng-repeat="c in row">{{c}}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success" ng-click="refresh()">Refresh</button>
        </div>
        <div ng-show="!showCur">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="f in cols">{{ f.label }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in newDefs">
                <td ng-repeat="c in row">{{c}}</td>
              </tr>
            </tbody>
          </table>
          <sheet-import data="sheetData"></sheet-import>
          <button type="button" class="btn btn-primary" ng-click="update()">Save changes</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
