<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">Delete User</h4>
</div>
<!-- selected row -->
<div ng-if="namelist.length>0">
<div class="modal-body">
Are you want to delete:
{{ namelist }}
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
<button type="button" class="btn btn-primary" ng-click="deleteUser()">Yes</button>
</div>
</div>
<!-- not selected row -->
<div ng-if="namelist.length<=0">
<div class="modal-body">
Please select at least one row.
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="close()">OK</button>
</div>
</div>