<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">Export User CSV</h4>
</div>

<div class="modal-body">
Are you want to download user information csv?
</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
<button type="button" class="btn btn-primary" ng-click="exportUserCsv()">Yes</button>
</div>
