<div class="color-line"></div>
	<div class="modal-header">
	<h4 class="modal-title">Change User Profile</h4>
	</div>
	<div class="modal-body">
		<p>Change user profile of <strong>{{ updateInfo.oldname }}</strong></p>
		<div class="hpanel">
			<div class="panel-body">
				<form id="updateForm">
					<div class="row">
					<div class="form-group col-lg-6">
						<label>New Password</label>
						<input type="password" class="form-control" ng-model="updateInfo.password">
					</div>
					<div class="form-group col-lg-6">
						<label>Repeat New Password</label>
						<input type="password" class="form-control" ng-model="updateInfo.repassword">
					</div>
					<div class="form-group col-lg-12">
						<label>New Full Name</label>
						<input class="form-control" ng-model="updateInfo.fullname">
					</div>
                    <div class="form-group col-lg-12">
						<label>New Department ID</label>
						<input class="form-control" ng-model="updateInfo.depid">
					</div>
					<div class="form-group col-lg-12">
						<label>New Email Address</label>
						<input class="form-control" ng-model="updateInfo.email">
					</div>
					<!--div class="checkbox col-lg-12">
						<input icheck type="checkbox" ng-model="adminp" ng-init="adminp=false">
						Administrator Privileges
					</div-->
					<div class="checkbox col-lg-12" ng-show="updateErrorMessage.length>0">
						<div class="alert alert-danger" style="margin-bottom:5px;border-radius:4px">
						  <strong>Error!</strong> {{ updateErrorMessage }}
						</div>
					</div>					
					</div>
				</form>
			</div>
        </div>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="updateUser()">OK</button>
</div>