<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">Upload User CSV</h4>
</div>
<div class="modal-body">
<h4>Selected File</h4>
	<ul ng-show="modalParams.selectedfile!=undefined">
	<li>Name: {{ modalParams.selectedfile.name }}</li>
	<li>Size: {{ modalParams.selectedfile.size }} bytes</li>
	</ul>
<div ng-show="uploadStatus.status!=undefined">
	<h4>Upload Result</h4>
	<ul>
		<li>Status: {{ uploadStatus.status }}</li>
		<li>ImportedLineCount: {{ uploadStatus.importedCount }}</li>
		<li>ErrorLineCount: {{ uploadStatus.errorCount }}</li>
        <li ng-show="uploadStatus.errorLog.length>0">ErrorLog:
            <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="uploadStatus.logopen">
            <uib-accordion-heading>
            Log<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': uploadStatus.logopen, 'glyphicon-chevron-right': !uploadStatus.logopen}"></i>
            </uib-accordion-heading>
                <ul>
                <li ng-repeat="errlog in uploadStatus.errorLog">
                {{errlog}}
                </li>
                </ul>
            </div>
            </uib-accordion>
        </li>
	</ul>
</div>
<div ng-show="uploading"><p class="jumptext">Uploading...</p></div>
<hr>
<h4>Option</h4>
<div class="checkbox">
  <label><input type="checkbox" ng-model="uploadStatus.updateCheck">Update</label>
</div>
</div>
<div class="modal-footer">
<hint-modal hint-text="uploadDataHint" style="float:left;"></hint-modal>
<button type="button" class="btn btn-success" ng-disabled="uploading" ngf-select ng-model="modalParams.selectedfile" ngf-multiple="false">Select File</button>
<button type="button" class="btn btn-primary" ng-disabled="uploading" ng-click="uploadUserData()">Submit</button>
<button type="button" class="btn btn-default" ng-disabled="uploading" ng-click="uploadClose()">Close</button>
</div>
