<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">公式表</h4>
</div>
<div class="modal-body">
  <h4>ReBI Rate 公式</h4>
  <table class="table table-striped">
    <thead>
      <tr><th>代號</th><th>應用層面</th><th>客戶</th><th style="width:55%;">公式</th></tr>
    </thead>
    <tbody>
      <tr><td>* Type 1</td><td>Phase 1 工程</td><td>HKHW, SMI, Phison...</td><td>(Level > 1 TestQty) / (Level 1 TestQty)</td></tr>
      <tr><td>* Type 2</td><td>nV</td><td>nV</td><td>BI1應ReBI之FailQty加總 / BI1 TestQty  <div class="rebi-ftable-comment">(不計算 BILEVEL>=2 的資料)</div></td></tr>
      <tr><td>&nbsp;&nbsp;Type 3</td><td>STM</td><td>STM</td><td>BI1 Fail / BI1 TestQty</td></tr>
      <tr><td>* Type 4</td><td>Phase 1 產線</td><td></td><td>(TestQty of Level>1) / ( TestQty of Level>1 + Level=1)</td></tr>
    </tbody>
  </table>
  <h4>FirstYield & FinalYield 公式</h4>
  <table class="table table-striped">
    <thead>
      <tr><th>代號</th><th>應用層面</th><th>客戶</th><th style="width:55%;">公式</th></tr>
    </thead>
    <tbody>
      <tr><td>&nbsp;&nbsp;Type 1</td><td>Phase 1 工程</td><td>HKHW, SMI, Phison...</td>
        <td>FirstYield=BI1站之「PassQty加總 / TestQty加總」<br>FinalYield=MergeLotCheck1站之「PassQty加總 / TestQty加總」</td></tr>
      <tr><td>&nbsp;&nbsp;Type 2</td><td>nV</td><td>nV</td><td>如規格書</td></tr>
      <tr><td>&nbsp;&nbsp;Type 3</td><td>STM</td><td>STM</td>
        <td>FirstYield=BI1站之「PassQty加總 / TestQty加總」<br>FinalYield=Split-MergeLotCheck1站之「PassQty加總 / TestQty加總」</td></tr>
      <tr><td>&nbsp;&nbsp;Type 4</td><td>MXIC</td><td></td><td>FinalYield=FirstYield=BI*當站Yield</td></tr>
    </tbody>
  </table>
  <div class="rebi-ftable-comment">
  <ul>
  <li>附註1: * 標註星號「*」的公式分析時只計算面板區間內資料，母批會被切割。</li>
  <li>附註2: 推移圖套用任何公式母批都會被切割。</li>
  </ul>
  </div><br>
  <hint-modal hint-text="trendChartFormulaComment" title="推移圖計算說明" btn-text="推移圖計算說明" md-size="lg"></hint-modal>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
</div>