<div class="package-title">
  <h1>RE-BURN & YIELD REPORT</h1>
  <hr>
</div>
<div class="col-lg-12">
    <div style="float:left;"><search-datetime selected="selected"></search-datetime></div>
</div>
<div class="col-lg-12">
  <hr>
  <!-- multi selection -->
  <div class="col-sm-3">
  <label class="text-primary" >客戶名稱</label>
  <ui-select multiple ng-model="multiSelection.customername">
    <ui-select-match placeholder="輸入客戶名稱或代碼">{{$item}}</ui-select-match>
    <ui-select-choices repeat="customername in multiOption.customername" refresh="updateZone($select,'customername')" refresh-delay="500">
      {{customername}}
    </ui-select-choices>
  </ui-select>
  </div>
  <div class="col-sm-3">
  <label class="text-primary" >產品家族(ProductFamily)</label>
  <ui-select multiple ng-model="multiSelection.family">
    <ui-select-match placeholder="輸入ProductFamily">{{$item}}</ui-select-match>
    <ui-select-choices repeat="family in multiOption.family" refresh="updateZone($select,'family')" refresh-delay="500">
      {{family}}
    </ui-select-choices>
  </ui-select>
  </div>
</div>
<div class="col-lg-12">
    <hr>
    <div ng-repeat="f in mesfields">
      <search-filter field=f fields=mesfields query-url="mesfsURL" extra-match="filterExtraMatch"></search-filter>
    </div>
</div>
<div class="col-lg-12" style="margin-bottom:25px;">
    <hr>
    <div class="col-sm-2">
        <label class="text-primary">ReBI Rate公式</label>
        <select class="form-control" ng-model="formulaType.rebi.selected" ng-options="opt for opt in formulaType.rebi.itemlist" ng-change="changeFormula('rebi')">
        </select>
    </div>
    <div class="col-sm-2">
        <label class="text-primary">First&Final Yield公式</label>
        <select class="form-control" ng-model="formulaType.yield.selected" ng-options="opt for opt in formulaType.yield.itemlist">
        </select>
    </div>
    <div class="col-sm-2">
        <label style="width:100%;">&emsp;</label>
        <button type="button" class="btn btn-primary" ng-click="formulaTableModal()">公式表</button>
        <report-config-modal></report-config-modal>
    </div>
</div>
<div ng-show="formulaType.rebi.selected==2" class="col-lg-12" style="margin-bottom:25px;">
  <hr>
  <div class="col-sm-12">
    <label class="text-primary">Define ReBI Fail Bin</label><br>
  </div>
  <div class="col-sm-3" ng-repeat="(idx,checkItem) in failBinCheckBox" style="padding-top:5px;">
    <form class="form-inline" role="form">
      <label class="text-default">ProductFamily</label>
	  <button class="btn btn-danger" ng-click="removeFailBinCheckBox(idx)" style="float:right;">x</button>
	  <ui-select ng-model="checkItem.family" reset-search-input="false" theme="bootstrap" append-to-body="true">
		<ui-select-match placeholder="輸入ProductFamily">
			<span ng-bind="checkItem.family"></span>
		</ui-select-match>
		<ui-select-choices repeat="family in multiOption.family" refresh="updateZone($select,'family')" refresh-delay="500">
		  <span ng-bind="family"></span>
		</ui-select-choices>
	  </ui-select>
      <!--input type="text" class="form-control" ng-model="checkItem.family" style="width:50%;"-->
    </form>
    <form>
      <label ng-repeat="key in [1,2,3,4]" class="checkbox-inline">
        <input type="checkbox" ng-model="checkItem.list[key]" >Bin{{key}}</input>
      </label>
    </form>
    <form>
      <label ng-repeat="key in [5,6,7,8]" class="checkbox-inline">
        <input type="checkbox" ng-model="checkItem.list[key]" >Bin{{key}}</input>
      </label>
    </form>
  </div>
  <button class="btn btn-default" ng-click="addFailBinCheckBox()">Add ReBI Family</button>
</div>
<!-- Query button & information -->
<div class="col-lg-12" style="margin-top: 20px;margin-bottom: 5px;">
  <button type="button" class="btn btn-primary" ng-click="rebiYieldQuery('rebi')" ng-disabled="queryInfo['rebi'].waitingResponse">{{searchTypeName.rebi}}(較快)
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="queryInfo['rebi'].waitingResponse"></i>
  </button>
  <button type="button" class="btn btn-primary" ng-click="rebiYieldQuery('yield')" ng-disabled="queryInfo['yield'].waitingResponse">{{searchTypeName.yield}}(較慢)
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="queryInfo['yield'].waitingResponse"></i>
  </button>
  <button type="button" class="btn btn-success" ng-show="tabkey=='yield'" ng-click="downloadYieldReport()" ng-disabled="downloadFileName==undefined">下載YieldReport分析報表
  </button>
  <label class="text-primary"> ［查詢狀態］{{ queryInfo[tabkey].requestStatus }}</label>
  <label class="text-primary" ng-show="queryInfo[tabkey].queryTime">,［查詢時間］{{ queryInfo[tabkey].queryTime/1000 | number:2 }}秒</label>
  <label class="text-primary" ng-show="queryInfo[tabkey].rowNum">,［查詢筆數］{{ queryInfo[tabkey].rowNum }} </label>
  <label class="text-primary">,［公式］{{ queryInfo[tabkey].ftypeText }} </label>
</div>
<div class="col-lg-12">
  <!-- Navigation Tab -->
  <!-- Tab Selection -->
  <ul class="nav nav-tabs">
    <li id="rebi" class="active" ng-click="changeAnalysis('rebi')"><a data-toggle="tab" href="#rebi-tab">ReBI分析</a></li>
    <li id="rebiyield"><a data-toggle="tab" href="#rebiyield-tab" ng-click="changeAnalysis('yield')">ReBI+YieldReport分析</a></li>
    <li id="yieldreport"><a data-toggle="tab" href="#yieldreport-tab" ng-click="changeAnalysis('yield')">YieldReport分析</a></li>
  </ul>
  <!-- Tab Content -->
  <div class="tab-content">
    <!-- Tab: ReBI 分析 -->
    <div id="rebi-tab" class="tab-pane in active">
      <rebi-pa-chart data="rebiRawdata"></rebi-pa-chart>
    </div>
    <!-- Tab: ReBI+Yield 分析 -->
    <div id="rebiyield-tab" class="tab-pane in active">
      <rebi-ea-chart data="rebiYieldRawdata"></rebi-ea-chart>
    </div>
    <!-- Tab: YieldReport 分析 -->
    <div id="yieldreport-tab" class="tab-pane">
      <yield-report-chart data="ReportChartSheetData"></yield-report-chart>
    </div>
  </div>
</div>
