<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">nVidia Config</h4>
</div>
<div class="modal-body">
    <h4>當前設定</h4>
    <hr>
    <pre>{{configText}}</pre>
    <div ng-show="username=='admin'"><!--ng-show="username=='admin'"-->
    <hr>
    <label style="float:left;">上傳設定檔:&emsp;</label>
    <input type="file" onchange="reportOpenFile(event)"><h4 class="ng-binding"></h4>
    <label>狀態:&emsp;</label>{{uploadStatus}}
    </div>
<div class="modal-footer">
<hint-modal hint-text="nvUploadHint" md-size="md"></hint-modal>
<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
</div>