<!-- Search Panel -->
<div class="package-title">
  <h1>BAKDETAIL</h1>
  <hr>
</div>
<div class="col-lg-12" >
    <search-date selected="selected">
</div>
<div class="col-lg-12" style="margin-bottom:25px;" ng-show="showRec.tab1">
    <hr>
    <div ng-repeat="f in tempfields">
      <search-filter field=f fields=tempfields query-url="tempfsURL" extra-match="filterExtraMatch"></search-filter>
    </div>
</div>
<!--div class="col-lg-12" style="margin-bottom:25px;" ng-show="showRec.tab2">
    <hr>
    <div ng-repeat="f in mesfields">
      <search-filter field=f fields=mesfields query-url="mesfsURL" extra-match="filterMesExtraMatch"></search-filter>
    </div>
</div-->
<!-- Navigation Tab -->
<ul class="nav nav-tabs">
  <li id="rbitab" class="active" ng-click="changeTab('rbitab')"><a data-toggle="tab" href="#rbitime">Real BI Time</a></li>
  <!--li id="baksystab" ng-click="changeTab('baksystab')"><a data-toggle="tab" href="#baksys">Baking Data Analysis</a></li-->
</ul>
<!-- Tab Content -->
<div class="tab-content">
<!-- Tab: real bi time tab -->
  <div id="rbitime" class="tab-pane in active">
    <div style="margin-top: 20px;margin-bottom: 10px;">
    <button type="button" class="btn btn-primary" ng-click="getBiRealTime()" ng-disabled="summaryInfo.rebitime.waitingResponse">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="summaryInfo.rebitime.waitingResponse"></i>
    </button>
    <button type="button" class="btn btn-success" ng-click="exportAgGrid('xls')">下載Excel</button>
    <label class="text-primary"> ［查詢狀態］{{ summaryInfo.rebitime.requestStatus }} ,</label>
    <label class="text-primary" ng-show="summaryInfo.rebitime.queryTime"> ［查詢時間］{{ summaryInfo.rebitime.queryTime/1000 | number:2 }}秒 ,</label>
    <label class="text-primary"> ［查詢筆數］{{ summaryInfo.rebitime.rowNum }} </label>
    <label class="text-primary"> {{dataStatus}} </label>
    </div>
    <!-- Optional parameters -->
    <uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="optinalParams.status.open">
      <uib-accordion-heading>
        其他設定<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': optinalParams.status.open, 'glyphicon-chevron-right': !optinalParams.status.open}"></i>
      </uib-accordion-heading>
     <div class="form-group row"> 
        <div class="col-xs-2">
        <label class="text-default">手動設定Burn-In溫度</label>
        <input class="form-control" type="number" ng-model="optinalParams.bitemp">
         <button class="btn btn-default" ng-click="biTempApply()" style="margin-top:10px;">應用</button>
        </div>
    </div>
    </div>
    </uib-accordion>
    <!-- Info Summary -->
    <div class="row">
    <div ng-show='biTimeSummary'>
        <ul>
        <li>OVENID: {{biTimeSummary.ovenid}}</li>
        <li>LOTNO: {{biTimeSummary.lotno}}</li>
        <li>客戶名稱: {{biTimeSummary.customername}}</li>
        <li>Burn-In溫度: {{biTimeSummary.bitemp}}</li>
        <li>定溫時間: {{biTimeSummary.ftemp}}</li>
        <li>降溫時間: {{biTimeSummary.ctemp}}</li>
        <li>實際BI時間: {{biTimeSummary.bitime}}</li>
        <li>定溫後最高溫度: {{biTimeSummary.f_htemp}}</li>
        <li>定溫後最低溫度: {{biTimeSummary.f_ltemp}}</li>
        </ul>
    </div>
    </div>
    <bi-temp-time-chart data="timeData" guide="timeGuide"></bi-temp-time-chart>
    <div style="height: 450px;" class="ag-blue" ag-grid="bakTimeGrid"></div>
  </div>
<!-- Tab: baking system analysis -->
  <div id="baksys" class="tab-pane">
    <!--div style="margin-top: 20px;margin-bottom: 10px;">
      <button type="button" class="btn btn-primary" ng-click="getBakAnalysis()" ng-disabled="summaryInfo.baksys.waitingResponse">查詢
          <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="summaryInfo.baksys.waitingResponse"></i>
      </button>
      <label class="text-primary"> ［查詢狀態］{{ summaryInfo.baksys.requestStatus }} , </label>
      <label class="text-primary" ng-show="summaryInfo.baksys.queryTime"> ［查詢時間］{{ summaryInfo.baksys.queryTime/1000 | number:2 }}秒 ,</label>
      <label class="text-primary"> ［查詢筆數］{{ summaryInfo.baksys.rowNum }} , </label>
      <label class="text-primary"> ［分析類型］{{ summaryInfo.baksys.analysisType }} </label>
      <label class="text-primary"> {{summaryInfo.baksys.dataStatus}} </label>
    </div-->
    <!-- 現況、歷史、批號 3 Tab -->
    <!--ul class="nav nav-tabs">
      <li id="current-tab" class="active" ng-click="changeBakSysTab('current')"><a data-toggle="tab" href="#current">現況</a></li>
      <li id="history-time" ng-click="changeBakSysTab('time')"><a data-toggle="tab" href="#time">歷史</a></li>
      <li id="lotno-tab" ng-click="changeBakSysTab('lotno')"><a data-toggle="tab" href="#lotno">批號</a></li>
    </ul>
    <bak-system-chart data="bakSysData"></bak-system-chart-->
  </div>
</div>
