.mtbf span {
    font-weight: bold;
}

/*.mtbf h1 {
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
    text-shadow: 3px 3px #888888;
}*/

.mtbf h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center; 
    margin: 0 0 14px;
}

.mtbf h3 {    
    color: #CC6600; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center;
    margin: 0 0 0px;
}

.mtbf h4 {    
    color: #CC6600; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center;
    margin: 0 0 0px;
}

.mtbf .srch-panel {
  width: 100%;
  height: 200px;
  background-color: LightGoldenRodYellow;
  border: 2px #ccc solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px; 
  padding: 15px 5px 1px;
}

.mtbf .grp {
  width: 100%;
  height: 500px;
}

.mtbf .trd {
  width: 100%;
  height: 400px;
}

.mtbf-tab > .tab-content{
    background-color: #D3D3D3;
    color: #2F4F4F;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-color: #778899;
    padding: 2%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
}

.mtbf-tab > .nav-tabs > li.active > a{
    background-color: #D3D3D3 !important;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-color: #778899;
    color:#2F4F4F;
    font-weight: bold;
}

.mtbf-tab > .nav-tabs > li:not(.active) a:not(#close-btn){
    background-color: #fff !important;
    border: medium none;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    color:#000066;
}

.mtbf .mtbf-grid {
  height: 200px;
  width: 100%;
}

.mtbf .dutmap {
  position: relative;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  border: 2px #ccc solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.mtbf .dutmap h3 {
  color: #2F4F4F;
  font-size: 30px;
  text-align: left;
  padding-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.mtbf .dutmap .dut-btn {
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
}

.mtbf .dut-matrix {
  height: 300px;
  width: 485px;
  margin-left: 12%; 
  margin-bottom: 20px;
}

.mtbf .dut-matrix .btn {
  height: 100%;
  width: 100%;
}

.mtbf .repair-detail {
  position: relative;
  width: 100%;
  height: 450px;
}

.mtbf errcode-upload h3 {
  display: inline-block;
  text-align: center;
}

.mtbf errcode-upload th {
  background-color: #008B8B;
  color: white;
  text-align: center;
}

.mtbf errcode-upload tr:nth-child(even) {
  background-color: #F0F8FF;
}
