<div class="color-line"></div>
<h2 style="margin-left:30px;margin-top:20px;">User Management</h2>
<div id="umtab" style="margin-left:20px;margin-top:20px;">
	<ul class="nav nav-tabs">
		<li class="active" id="tab0">
		<a data-toggle="tab" ng-click="switchTab(0)">Account settings</a>
		</li>
		<li class="inactive" id="tab1">
		<a data-toggle="tab" ng-click="switchTab(1)">Change password</a>
		</li>
	</ul>
</div>
<div class="usermanagement-container" data-ng-init="init()">
	<!-- Tab-1 -->
	<div id="tab1" ng-show="tabShow[0]">
		<h3>Account Setting</h3>
		<div class="hpanel">
			<div class="panel-body">
				<form id="loginForm">
					<div class="row">
					<div class="form-group col-lg-12">
						<label>Full Name</label>
						<input class="form-control" ng-model="user.fullname" ng-disabled="as_edit_disabled">
					</div>	
					<div class="form-group col-lg-12">
						<label>Department ID</label>
						<input class="form-control" ng-model="user.depid" ng-disabled="as_edit_disabled">
					</div>
					<div class="form-group col-lg-12">
						<label>Email Address</label>
						<input class="form-control" ng-model="user.email" ng-disabled="as_edit_disabled">
					</div>
					</div>
					<div class="text-left">
						<button class="btn btn-default" ng-click="editAccountSettings()">Edit <i class="fa fa-edit" aria-hidden="true"></i></button>
						<button class="btn btn-primary" ng-click="saveAccountSettings()" ng-disabled="as_edit_disabled">Save</i></button>
					</div>
				</form>
			</div>
        </div>			
	</div>	
	<!-- Tab-2 -->
	<div id="tab2" ng-show="tabShow[1]">
	<div class="row">
        <div class="col-md-12">
            <div class="text-left m-b-md">
                <h3>Change Password</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form id="loginForm">
                            <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Current Password</label>
                                <input type="password" class="form-control" ng-model="changepw.curpassword">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>New Password</label>
                                <input type="password" class="form-control" ng-model="changepw.password">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Repeat New Password</label>
                                <input type="password" class="form-control" ng-model="changepw.repassword">
                            </div>                          
                            </div>
                            <div class="text-left">
                                <button class="btn btn-primary" ng-click="changePassword()">Change</button>
                                <button class="btn btn-default" ng-click="clearPassword()">Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
	</div>	
</div>
