<div class="login-container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center m-b-md">
                <h1><b>BIIS LOGIN</h1>
                <h5>*請用Chrome登入系統*</h5>
            </div>
            <div class="hpanel">
                <div class="panel-body">
					<form id="loginForm" >
						<div class="form-group">
							<label class="control-label" for="username">Username</label>
							<input class="form-control" ng-model="inputData.name">
						</div>
						<div class="form-group">
							<label class="control-label" for="password">Password</label>
							<input type="password" class="form-control" ng-model="inputData.password">
						</div>
						<!--div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" ng-model="remember" ng-init="remember = true">
								Remember login
							</label>
						</div-->
						<div class="alert alert-danger" style="margin-bottom:5px;border-radius:4px" ng-if="errorMessage.length>0">
						  <strong>Error!</strong> {{ errorMessage }}
						</div>
						<button class="btn btn-success btn-block" ng-click="login()">Login</button>
						<p class="help-block small">Register: Ask administrator for user account</p>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
