<h2 style="margin-left:30px;margin-top:20px;">User Management</h2>
<div id="umtab" style="margin-left:20px;margin-top:20px;">
   <ul class="nav nav-tabs">
      <li id="tab0" class="active">
      <a data-toggle="tab" ng-click="switchTab(0)">User Information</a>
      </li>
      <li id="tab1" class="inactive">
      <a data-toggle="tab" ng-click="switchTab(1)">Registration</a>
      </li>
   </ul>
</div>
<div class="usermanagement-container" data-ng-init="init()">
   <!-- Tab-1 -->
   <div id="tab1" ng-show="tabShow[0]">
      <h3>Users Table</h3>
      <div style='width: 100%; height:350px;margin-bottom:4px;'
                   ag-grid="gridOptions"
                   class="ag-blue">
      </div>
      <button class="btn btn-default" ng-click="callDeleteUserModal()" data-toggle="modal" data-target="#deleteModal">Delete 
            <span class="glyphicon glyphicon-trash"></span></button>
      <button class="btn btn-default" ng-click="callUpdateUserModal()">Edit 
            <span class="   glyphicon glyphicon-edit"></button>
      <button class="btn btn-default" ng-click="changeOmsAuthority()">Change OMS Editable 
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      <div style="float:right;"> <!-- right button -->
        <button class="btn btn-primary" ng-click="callExportUserCsvModal()">Export User CSV 
            <span class="glyphicon glyphicon-download-alt"></button>
      <button class="btn btn-success" ng-click="callUploadUserCsvModal()">Upload User CSV 
            <span class="glyphicon glyphicon-upload"></button>
      <button class="btn btn-default" ng-click="loadUserData()">Refresh 
            <span class="glyphicon glyphicon-refresh"></button>
      </div>
   </div>   
   <!-- Tab-2 -->
   <div id="tab2" ng-show="tabShow[1]">
   <div class="row">
        <div class="col-md-12">
            <div class="text-left m-b-md">
                <h3>Register New User</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form id="loginForm">
                            <div class="row">
                            <div class="form-group col-lg-12">
                                <label>User ID <span style="color:crimson;">*</span></label>
                                <input class="form-control" ng-model="inputData.name">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Password <span style="color:crimson;">*</span></label>
                                <input type="password" class="form-control" ng-model="inputData.password">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Password <span style="color:crimson;">*</span></label>
                                <input type="password" class="form-control" ng-model="inputData.repassword">
                            </div>
                     <div class="form-group col-lg-12">
                                <label>Full Name</label>
                                <input class="form-control" ng-model="inputData.fullname">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Department ID</label>
                                <input class="form-control" ng-model="inputData.depid">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Email Address</label>
                                <input class="form-control" ng-model="inputData.email">
                            </div>
                     <div class="checkbox col-lg-12" ng-show="errorMessage.length>0">
                        <div class="alert alert-danger" style="margin-bottom:5px;border-radius:4px">
                          <strong>Error!</strong> {{ errorMessage }}
                        </div>
                     </div>
                     <div class="checkbox col-lg-12" ng-show="successMessage.length>0">
                        <div class="alert alert-success" style="margin-bottom:5px;border-radius:4px">
                          <strong>Success!</strong> {{ successMessage }}
                        </div>
                     </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success" ng-click="register()">Register</button>
                                <button class="btn btn-default" ng-click="clearMessage()">Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
   </div>   
</div>
