<div class="color-line"></div>
<h2 style="margin-left:30px;margin-top:20px;">Request logs of user</h2>
<div class="usermanagement-container">	
    <div style="padding-top: 15px">
		<span class="dropdown" style="margin-right: 10px">
			<button class="btn btn-default" data-toggle="dropdown">Time Range: {{ gridTimeRange }}
			<span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="trange in trangeList"><a ng-click="changeTimeRange($index)">{{trange}}</a></li>
			</ul>
        </span>
		<button class="btn btn-info" ng-click="downloadCsv()" style="float:right;">Download CSV
		<i class="fa fa-download" aria-hidden="true"></i></button>
		<div ag-grid="gridOptions" class="ag-blue" style='width: 100%; height:350px;margin-bottom:15px;padding-top:15px'>
	    </div>
		Display rows: {{showingRows}}
    </div>
</div>