<div class="tab-content tehr">
  <div class="package-title">
    <h1>TE HOLD RATE</h1>
    <hr>
  </div>
  <fieldset ng-disabled="isSearching()">
    <p>
    <div class="col-lg-12" >
      <form class="form-inline">
        <search-date selected="selected" need="true"/>
        <div class="pull-right">
          <schema-selector schema="selected.schema"/>
        </div>
      </form>
    </div>
    <div class="col-lg-12">
      <hr></hr>
      <div ng-repeat="f in fields">
        <search-filter field=f fields=fields query-url="fieldSearchURL" extra-match="selected"></search-filter>
      </div>
      <div class="col-lg-2">
        <label class="text-primary"> Failure Mode </label>
        <ui-select ng-model="selected.fmode" theme="bootstrap">
          <ui-select-match allow-clear="true">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="item in fmodeObj.list | filter: $select.search">
            <div ng-bind-html="item | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-lg-4">
        <label class="text-primary"> 排除 Status </label>
        <ui-select multiple tagging ng-model="selected.excludedStatus" theme="bootstrap">
          <ui-select-match>{{$item.status}}</ui-select-match>
          <ui-select-choices repeat="s in status_list | filter:$select.search">
            {{s.status}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-lg-12">
      <hr></hr>
      <form class="form-inline" role="form" style="margin-bottom: 15px;">
        <button type="button" class="btn btn-primary" ng-click="ok()">查詢</button>
      </form>
    </div>
    <hr></hr>
    <uib-tabset class="tehr-tab" active="$root.active_tehr_tabs" ng-show="tabs.list.length>0">
      <uib-tab ng-repeat="t in tabs.list" index="t.id">
        <uib-tab-heading>
          {{t.title}} <a id="close-btn" ng-click="tabs.removeTab($index)" href=''><i class="glyphicon glyphicon-remove"></i></a>
        </uib-tab-heading>
        <tehr-data-panel tb="tabs.list[$index]"/>
      </uib-tab>
    </uib-tabset>
  </fieldset>
</div>
