<div>
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-5 summary-box">
        <div class="col-lg-7">
          <p style="font-size: 42px; text-align: center;">{{ holdRate }} %</p>
          <p style="font-size: 12px; text-align: center;">HoldRate</p>
        </div>
        <div class="col-lg-5">
          <form class="form-inline">
            <label style="font-size: 16px; margin-right: 10px;">Hold: </label>
            <span style="font-size: 32px;">{{ hold }}</span>
          </form>
          <form class="form-inline">
            <label style="font-size: 16px; margin-right: 10px;">生產: </label>
            <span style="font-size: 32px;">{{ total }}</span>
          </form>
        </div>
      </div>
      <div class="col-lg-7">
        <form class="form-inline">
          <utils-simple-selector pick="groupBy" list="fields" key="'label'"> 分析群集: </utils-simple-selector>
          <utils-simple-selector pick="period" list="periods" key="'label'"> 推移圖單位: </utils-simple-selector>
          <utils-simple-selector pick="pRange" list="pRanges" key="'idx'"> 推移圖範圍: </utils-simple-selector>
        </form>
        <div style="margin: 5px 10px 5px 10px;">
          <form class="form-inline">
            <label>排序: </label>
            <div class="btn-group">
              <button type="button" class="btn btn-success" ng-click="sortBy='TEHR'">Hold Rate</button>
              <button type="button" class="btn btn-success" ng-click="sortBy='HOLDNUM'">異常數量</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div cid="tehr-grpcht-{{$id}}" class="utils-loading-chart grp" is-loading="grpLoading" uib-popover-html="grpTips" popover-trigger="'mouseenter'" popover-placement="top-right"></div>
  <div id='trd-chart' cid="tehr-trdcht-{{$id}}" class="utils-loading-chart trd" is-loading="trdLoading" ng-show="showTrend"></div>
  <div id='pie-chart' cid="tehr-piecht-{{$id}}" class="utils-loading-chart pie" is-loading="pieLoading"></div>
  <div cid="tehr-fmcht-{{$id}}" class="utils-loading-chart fm" is-loading="fmLoading"></div>
  <hr></hr>
  <h2> Hold Lots 異常單 </h2>
  <label class="text-primary"> ［查詢筆數］{{ holdRowNum }} </label>
  <div class="ag-blue tehr-grid" ag-grid="holdGridOpt"></div>
  <hr></hr>
  <h2> Hold Lots 生產紀錄(Test Yield Report) </h2>
  <label class="text-primary"> ［查詢筆數］{{ prdRowNum }} </label>
  <div class="ag-blue tehr-grid" ag-grid="testYieldGridOpt"></div>
</div>