<meta http-equiv="Content-Type" content="text/html; charset=big5" /> 
<div class="tab-content mxic">
  <div class="package-title">
    <h1>MXIC BINMAP+YIELD</h1>
    <hr>
  </div>
  <fieldset  ng-disabled="isSearching">
    <p>
    <div class="col-lg-12" >
        <search-date selected="selected">
    </div>
    <div class="col-lg-12">
      <hr>
      <div ng-repeat="f in fields">
        <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
      </div>
    </div>
    <div class="col-lg-12" style="margin-bottom: 5px;">
      <hr>
      <button type="button" class="btn btn-primary" ng-click="getLotData()" ng-disabled="isSearching">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>

      <button ng-show="rowNum>0" type="button" class="btn btn-success" ng-click="exportXLS()">下載Excel</button>
      <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
      <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
      <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>

    </div>
    <div class="col-lg-12">
      <div style="height: 250px;" class="ag-blue" ag-grid="mxicGrid"></div>
    </div>
    <div class="form-group" ng-show="rows.length>0">
    <h4><label class="text-primary">［良率分析圖］</label></h4>
    <ul>
    <li>點擊顯示Drill Down資料，客批 → 爐號 → SLOT</li>
    <li>雙擊回到最上層</li>
  </ul>
  	<mxic-lot-chart data="lotRows" param="param"></mxic-lot-chart>
    <div ng-show="diffCountLots.length>0" class="text-danger">
      <div ng-repeat="l in diffCountLots">{{l.LOT_NUMBER}}，
      N0 TestQty:{{l.n0Count}} 和 N1 TestQty:{{l.n1Count}}測試數量不符</div>
      </div>
</div>

    <div class="col-lg-12" style="margin-bottom: 5px;">

    	 <hr>

      <label class="text-primary"> <h4>［BIB 狀況查詢］</h4></label>
      <button type="button" class="btn btn-warning" ng-click="mapSwitch=!mapSwitch" >
        <div ng-show="mapSwitch"> By Oven</div>
        <div ng-show="!mapSwitch"> By BIB</div>
      </button>
            <button type="button" class="btn btn-primary" ng-click="getBIBData()" ng-disabled="isSearching">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
      <select name="boardSelect" id="boardSelect" ng-model="boardSeleted.onSelected" ng-change="changeItem(this.boardSeleted.onSelected)" >
      <option ng-repeat="b in boardSeleted.boardsList"  value="{{b.id}}">{{b.name}},Fail數: {{b.fc}}</option>
    	</select> 
    </div>
        <div ng-show="chartData">
        <div class="col-lg-4"  ng-repeat="s in chartData">
        <mxic-socket-map slot="s.slot" rawdata="s.slotData"></socket-map>
      </div>
      
    </div>
  </fieldset>
</div>
  
<div class="form-group">
  <hr><div class="col-lg-12">
  <label class="text-primary"><h4>［OVEN 狀況查詢］</h4></label>      
  <button type="button" class="btn btn-primary" ng-click="getOvenData()" ng-disabled="isSearching">Oven查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
    </div>
  <div class="col-lg-12">
      <div style="height: 250px;" class="ag-blue" ag-grid="mxicOvenGrid"></div>
    </div>
</div>
