<link rel="stylesheet" href="/oms/assets/css/button.css">
<div class="oms">
  <div class="col-lg-12" style="padding: 0px">
    <div style="float: right;">
      <button ng-show="selfSigned" class="btn btn-white btn-primary btn-round" 
              data-toggle="modal" data-target="#addModal">
        <i class="fa fa-plus"></i>
        新增機台
      </button>
      <button ng-show="selfSigned" class="btn btn-white btn-danger btn-round" 
              data-toggle="modal" data-target="#importModal">
        <span class="glyphicon glyphicon-export"></span>
        匯入機台資料
      </button>
      <button ng-show="selfSigned" class="btn btn-white btn-yellow btn-round" ng-click="exportFile()">
        <span class="glyphicon glyphicon-export"></span>
        匯出機台資料
      </button>
      <button ng-show="selfSigned" class="btn btn-white btn-success btn-round" ng-click="save()">
        <span class="fa fa-floppy-o"></span>
        儲存
      </button>
      <button class="btn btn-default btn-round btn-xs" ng-show="!selfSigned&&user.editable" ng-click="signin()">
         <i class="fa fa-sign-in fa-2x"></i>
      </button>
      <button class="btn btn-default btn-round btn-xs" ng-show="selfSigned" ng-click="logOut()"><i class="fa fa-power-off fa-2x"></i></button>
    </div>
  </div>
  <div class="package-title">
    <h1>OVEN MONITORING SYSTEM</h1>
    <hr>
  </div>
  <p></p>
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-9">
          <button class="btnn btn-ALLESCAPE btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('all_escape')" ng-class="summayBtClass"> 整爐跳脫
            <span class="label label-inverse arrowed-in">{{statusSum.all_escape}}</span>
          </button>
          <button class="btnn btn-TEMPERATURE btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('abnormal_temperature')" ng-class="summayBtClass"> 爐溫異常
            <span class="label label-inverse arrowed-in">{{statusSum.abnormal_temperature}}</span>
          </button>
          <button class="btnn btn-ZONEESCAPE btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('all_zone_escape')"> 整zone跳脫
            <span class="label label-inverse arrowed-in">{{statusSum.all_zone_escape}}</span>
          </button>
          <button class="btnn btn-BOARDESCAPE btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('all_board_escape')" ng-class="summayBtClass"> 整板跳脫
            <span class="label label-inverse arrowed-in">{{statusSum.all_board_escape}}</span>
          </button>
          <button class="btnn btn-ALARM btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('ALARM')"> ALARM
            <span class="label label-inverse arrowed-in">{{statusSum.ALARM}}</span>
          </button>
          <button class="btnn btn-LALARM btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('L-ALARM')"> L-ALARM
            <span class="label label-inverse arrowed-in">{{statusSum.LALARM}}</span>
          </button>
          </br>
          <button class="btnn btn-ARun btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('A-Run')"> A-Run
            <span class="label label-inverse arrowed-in">{{statusSum.ARun}}</span>
          </button>
          <button class="btnn btn-AEnd btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('A-End')"> A-End
            <span class="label label-inverse arrowed-in">{{statusSum.AEnd}}</span>
          </button>
          <button class="btnn btn-MRun btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('M-Run')"> M-Run
            <span class="label label-inverse arrowed-in">{{statusSum.MRun}}</span>
          </button>
          <button class="btnn btn-MEnd btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('M-End')"> M-End
            <span class="label label-inverse arrowed-in">{{statusSum.MEnd}}</span>
          </button>
          <button class="btnn btn-IDLE btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('IDLE')"> IDLE
            <span class="label label-inverse arrowed-in">{{statusSum.IDLE}}</span>
          </button>
          <button class="btnn btn-NoData btn-sm" data-toggle="modal" data-target="#statusCountModal"
                  ng-click="clickStatusSumButton('NoData')"> NoData
            <span class="label label-inverse arrowed-in">{{statusSum.NoData}}</span>
          </button>
        </div>
        <div class="col-lg-3" ng-show="alarm_rate">
          <i class="fa fa-pie-chart"></i>
          <span>Down Rate: {{alarm_rate}}</span>
        </div>
        <div class="col-lg-3" ng-show="lastUpdateTime">
          <i class="fa fa-clock-o"></i>
          <span>最後更新: {{lastUpdateTime | date:"yyyy/MM/dd h:mma"}}</span>
        </div>
        <div class="col-lg-3" ng-show="isNoUpdate">
          <i class="fa fa-exclamation-triangle blink" aria-hidden="true" style="color: crimson;"></i>
          <span uib-tooltip="請重新整理或聯絡管理人員">連線異常</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span class="dropdown">
            <button class="btn btn-white btn-success btn-round" data-toggle="dropdown">顯示機種: {{ selectedShowCategory.name }}
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="c in showCategories"><a ng-click="changeShowCategory(c)">{{c.name}}</a></li>
            </ul>
          </span>
          <span class="dropdown">
            <button class="btn btn-white btn-success btn-round" data-toggle="dropdown">顯示型號: {{ selectedShowType }}
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="t in selectedShowCategory.types"><a ng-click="changeShowType(t)">{{t}}</a></li>
            </ul>
          </span>
          <button class="btn btn-white btn-success btn-round" ng-click="initOvenInfo()">
            <i class="fa fa-refresh fa-4"></i> 更新
          </button>
          <button class="btn btn-white btn-success btn-round" data-toggle="modal" data-target="#descriptionModal">
            <i class="fa fa-info-circle"></i><strong>&nbsp;說明</strong>
          </button>
          <button class="btn btn-white btn-success btn-round" data-toggle="modal" data-target="#searchModal">
            <i class="fa fa-search"></i><strong>&nbsp;搜尋</strong>
          </button>
        </div>
        <div class="col-lg-3" align="right" ng-show="isLoading||isReloadPage">
          <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i> 等待 Server 回應...
        </div>
      </div>
      <div id="monitoringSystem" ng-show="!isReloadPage"></div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-6">
          <h4>
            <i class="fa fa-server"></i>
            {{data.name}}
            <span ng-show="!data.name">點選機台</span>
          </h4>
        </div>
        <div class="col-lg-6" align="right">
          <a ng-show="hasCloseMember" ng-click="toggoleAccodPanel()"><i class="fa fa-toggle-on fa-2x" aria-hidden="true"></i></a>
          <a ng-show="!hasCloseMember" ng-click="toggoleAccodPanel()"><i class="fa fa-toggle-off fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
      <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-primary" is-open="accod.isOpenOvenPanel">
          <uib-accordion-heading>
            <i class="fa fa-info-circle"></i>
            機台資訊
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accod.isOpenOvenPanel,
                                                       'glyphicon-chevron-right': !accod.isOpenOvenPanel}"></i>
          </uib-accordion-heading>
          <div class="row">
            <div class="col-lg-12"  align="right" ng-show="selfSigned">
              <button class="btn btn-danger btn-round btn-xs" ng-click="deletemodel()">
                <i class="fa fa-trash-o"></i>&nbsp;刪除
              </button>
            </div>
          </div>
          <span ng-show="data.display">
            <p>
              <span ng-hide="editing" ng-dblclick="startEditing()"><strong>{{data.name}}</strong><font style="font-size:90%;color:#777777" ng-show="selfSigned">&nbsp;&nbsp;<i class="fa fa-pencil"></i>&nbsp;雙擊編輯</font></span>
              <input ng-enter="doneEditing()" id="nValue" ng-show="editing" ng-model="data.name" ng-blur="doneEditing()" autofocus />
            </p>
            <p>
               x：{{data.objxy.x}}&nbsp;&nbsp;&nbsp;y：{{data.objxy.y}}
            </p>
            <p >狀態：{{info.status}}</p>
            <p style="word-wrap: break-word;">京元批號：{{info.lotnum}}</p>
            <p >程式名稱：{{info.program}}</p>
            <p>更新時間：{{info.update_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p>狀態更新時間：{{info.stateChangeTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p>版本：{{info.version}}</p>
            <p>異常slot數 / Total：{{info.abnormal_slot + ' / ' + info.total_slot}}</p>
            <p>機型：{{info.equipmentType}}</p>
            <p>機種：{{info.equipmentCategory}}</p>
            <p>BI開始時間 : {{info.start_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p>預計出爐時間 : {{info.expect_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
          </span>
          <span ng-hide="data.display||stDisplay||!stDisplay">
            <br/><br/><br/><br/><br/><br/><br/>
          </span> 
          <span> 
            <p ng-show="stDisplay">Self Test Time: {{st.time | date:'yyyy-MM-dd HH:mm:ss'}} </p>
            <p ng-show="stDisplay">Self-Test 即時狀態: Pass Slot {{st.pass}} / Fail Slot {{st.fail}}/ Total Slot {{st.total}}/ Slot-Test Yield {{st.yield}}</p>
            <p ng-hide="stDisplay">無Self Test </p>
          </span>
        </div>
        <div uib-accordion-group class="panel-success" is-open="accod.isOpenDCPanel">
          <uib-accordion-heading>
            <i class="fa fa-info-circle"></i>
            DCLOG資訊
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accod.isOpenDCPanel,
                                                       'glyphicon-chevron-right': !accod.isOpenDCPanel}"></i>
          </uib-accordion-heading>
           <span ng-show="data.display">
            <p>DC log：{{info.pc_log}}</p>
            <p>DC log最後紀錄：{{info.pc_log_last_record | date:'yyyy/MM/dd HH:mm:ss'}}</p>
            <p>ZONE0 VAMP電壓 : {{info.ZONE0_vamp}}</p>
            <p>ZONE0電壓(DPS1,2) : {{info.ZONE0_v12}}</p>
            <p>ZONE0電壓(DPS3,4) : {{info.ZONE0_v34}}</p>
            <p>ZONE0電流(DPS1,2) : {{info.ZONE0_a12}}</p>
            <p>ZONE1 VAMP電壓 : {{info.ZONE1_vamp}}</p>
            <p>ZONE1電壓(DPS1,2) : {{info.ZONE1_v12}}</p>
            <p>ZONE1電壓(DPS3,4) : {{info.ZONE1_v34}}</p>
            <p>ZONE1電流(DPS1,2) : {{info.ZONE1_a12}}</p>
            <p>ZONE2 VAMP電壓 : {{info.ZONE2_vamp}}</p>
            <p>ZONE2電壓(DPS1,2) : {{info.ZONE2_v12}}</p>
            <p>ZONE2電壓(DPS3,4) : {{info.ZONE2_v34}}</p>
            <p>ZONE2電流(DPS1,2) : {{info.ZONE2_a12}}</p>
            <p>ZONE3 VAMP電壓 : {{info.ZONE3_vamp}}</p>
            <p>ZONE3電壓(DPS1,2) : {{info.ZONE3_v12}}</p>
            <p>ZONE3電壓(DPS3,4) : {{info.ZONE3_v34}}</p>
            <p>ZONE3電流(DPS1,2) : {{info.ZONE3_a12}}</p>
          </span>
          <span ng-hide="data.display">
            <br/><br/><br/><br/><br/><br/><br/>
          </span>
        </div>
        <div uib-accordion-group class="panel-warning" is-open="accod.isOpenBakPanel">
          <uib-accordion-heading>
            <i class="fa fa-info-circle"></i>
            爐溫資訊
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accod.isOpenBakPanel,
                                                       'glyphicon-chevron-right': !accod.isOpenBakPanel}"></i>
          </uib-accordion-heading>
          <span ng-show="data.display&&showBakData">
            <p>爐溫最後紀錄：{{info.oven_temperature_last_record | date:'yyyy/MM/dd HH:mm:ss'}}</p>
            <span ng-repeat="lot in info.oven_temperature_last_lotno">
              <p><a href="/bakdetail?lotno={{lot}}&type=time" target="_blank">{{lot}} 歷史紀錄</a></p>
            </span>
            <p>第一點之爐溫：{{info.oven_temperature1}}</p>
            <p>第二點之爐溫：{{info.oven_temperature2}}</p>
            <p>第三點之爐溫：{{info.oven_temperature3}}</p>
            <p>第四點之爐溫：{{info.oven_temperature4}}</p>
            <p>第五點之爐溫：{{info.oven_temperature5}}</p>
            <p>第六點之爐溫：{{info.oven_temperature6}}</p>
          </span>
          <span ng-hide="data.display">
            <br/><br/><br/><br/><br/><br/><br/>
          </span>
        </div>
        <div uib-accordion-group class="panel-danger" is-open="accod.isOpenErrorPanel">
          <uib-accordion-heading>
            <i class="fa fa-info-circle"></i>
            錯誤資訊
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accod.isOpenErrorPanel,
                                                       'glyphicon-chevron-right': !accod.isOpenErrorPanel}"></i>
          </uib-accordion-heading>
          <span ng-show="data.display">
            <p>整爐跳脫：{{info.all_escape}}</p>
            <p>整zone跳脫：{{info.all_zone_escape}}</p>
            <p>爐溫異常：{{info.abnormal_temperature}}</p>
            <p>整板跳脫：{{info.all_board_escape}}</p>
            <p>跳脫板：{{info.alert_count}}</p>
          </span>
          <span ng-hide="data.display">
            <br/><br/><br/><br/><br/><br/><br/>
          </span>
        </div>
        <div uib-accordion-group class="panel-info" is-open="accod.isOpenBinPanel">
          <uib-accordion-heading>
            <i class="fa fa-info-circle"></i>
            BIN資訊
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accod.isOpenBinPanel,
                                                       'glyphicon-chevron-right': !accod.isOpenBinPanel}"></i>
          </uib-accordion-heading>
          <span ng-show="!info.hasBinData">
            <h3>無BIN資料</h3>
          </span>
          <span ng-show="data.display&&info.hasBinData" ng-repeat="bin in info.binData" style="text-align: center;">
            <h4>{{bin.lotNum}}</h4>
            <h4>投入 : {{bin.data.nonZeroBin}}</h4>
            <h4>空座 : {{bin.data.zeroBin}}</h4>
            <style>
              th:nth-child(3){text-align: right;}              
            </style>
            <table style="margin:0 auto;">
              <tr>
                <th>BIN 1:</th>
                <th style="background: #00FF00">&nbsp;{{bin.data.BIN1}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN1/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 2:</th>
                <th style="background: #FF0000">&nbsp;{{bin.data.BIN2}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN2/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 3:</th>
                <th style="background: #FFFF00">&nbsp;{{bin.data.BIN3}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN3/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 4:</th>
                <th style="background: #FF9E6A">&nbsp;{{bin.data.BIN4}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN4/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 5:</th>
                <th style="background: #FFACFF">&nbsp;{{bin.data.BIN5}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN5/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 6:</th>
                <th style="background: #9EB8DA">&nbsp;{{bin.data.BIN6}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN6/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 7:</th>
                <th style="background: #D5D0AC">&nbsp;{{bin.data.BIN7}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN7/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 8:</th>
                <th style="background: #C0D8A7">&nbsp;{{bin.data.BIN8}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN8/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN 9:</th>
                <th style="background: #C0E1E4">&nbsp;{{bin.data.BIN9}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIN9/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN A:</th>
                <th style="background: #7F632B; color: white;">&nbsp;{{bin.data.BINA}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BINA/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN B:</th>
                <th style="background: #9F1C2F; color: white;">&nbsp;{{bin.data.BINB}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BINB/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN C:</th>
                <th style="background: #CB4A3F; color: white;">&nbsp;{{bin.data.BINC}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BINC/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN D:</th>
                <th style="background: #DFC856; color: white;">&nbsp;{{bin.data.BIND}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BIND/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN E:</th>
                <th style="background: #CD822F; color: white;">&nbsp;{{bin.data.BINE}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BINE/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
              <tr>
                <th>BIN F:</th>
                <th style="background: #C0D8A7; color: white;">&nbsp;{{bin.data.BINF}}&nbsp;</th>
                <th>&nbsp;{{bin.data.BINF/bin.data.nonZeroBin*100| number:2}}%</th>
              </tr>
            </table>
            <br/><br/>
          </span>
          <span ng-hide="data.display">
            <br/><br/><br/><br/><br/><br/><br/>
          </span>
        </div>
      </uib-accordion> 
    </div>
  </div>

  <!--************************************-->
  <!--           新增機台彈窗             -->
  <!--************************************-->

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: #b3d4fc">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">請輸入機台名稱</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              機台名稱：
              <input class="form-control" ng-model="machineName" ng-change="change()">
              <div style="color: red">{{helpblock2}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" ng-click="addMachine()">確定</button>
        </div>
      </div>
    </div>
  </div>

  <!--************************************-->
  <!--            匯入機台彈窗            -->
  <!--************************************-->

  <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: #b3d4fc">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">匯入機台資料</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8">
              <input id="filename" type="file" accept=".ini" onchange="angular.element(this).scope().fileChanged(this.files);"/>
            </div>
            <div class="col-lg-3">
              <button type="button" ng-click="preView()" class="btn btn-success btn-xs"><i class="fa fa-upload"></i>上傳</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--************************************-->
  <!--              登入彈窗              -->
  <!--************************************-->

  <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form ng-submit="signin()">
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">管理者登入</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                密碼：
                <input type="password" class="form-control" ng-model="pwd" ng-change="loginchange()" >
                <div style="color: red">{{helpblockselfSigned}}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" id="submit" value="確定" class="btn btn-sm btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--************************************-->
  <!--             機台狀態彈窗           -->
  <!--************************************-->

  <div class="modal fade" id="statusCountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"> {{statusModalType}} 機台</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
              <p style="word-wrap: break-word;"><span ng-repeat="oven in statusModalContent"> {{oven}}, </span></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--************************************-->
  <!--              快速搜尋              -->
  <!--************************************-->

  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form ng-submit="searchOven()">
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">快速搜尋</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                OvenID：
                <input class="form-control" ng-model="inputOven" ng-change="isOvenExists()">
                <div style="color: red">{{helpblockSearch}}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" id="submit" value="確定" class="btn btn-sm btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--************************************-->
  <!--              說明面板              -->
  <!--************************************-->

  <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"> 說明 </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                <ul>
                  <li>
                    *：無電子爐溫數據(非IDLE、NoData、BTS-機台)。
                  </li>
                  <li>
                    <font style="background-color: #ff6666">整爐跳脫</font> ：Table OvenErrorMsgALL欄位ERRORCODE_1為001。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #ff6666">爐溫異常</font> ：Table OvenErrorMsgALL欄位ERRORCODE_1為004。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #ff6666">整zone跳脫</font> ：Table OvenErrorMsgALL欄位MsgText包含"整個Zone關閉"。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: pink">整板跳脫</font> ：跳脫板數大於0。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #ffaa33">ALARM</font> ：生產中機台發生異常訊息。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: pink">L-ALARM</font>  ：粉紅色代表機台Log檢查異常。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #aaffbb">A-Run</font> ：BURN IN中。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #77aaff">A-End</font> ：BI程式完成，可進行出爐作業。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #aaffff">M-Run</font> ：該板驗板中，驗板畫面未關閉。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #ddbbff">M-End</font> ：該板驗板結束。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #ffffbb">IDLE</font> ：機台閒置中。&nbsp;
                  </li>
                  <li>
                    <font style="background-color: #aaaaaa">No Data</font>  ：該機台報表無法回傳。
                  </li>
                  <li>
                    Down Rate  : <br>
                    分子:(整爐跳脫+爐溫異常+整zone跳脫+整版跳脫) <br>
                    分母:(分子項目+ALARM+LALARM+ARun+AEnd)
                  </li>
                  <li>若該機台IDLE，但監控系統顯示run或alarm，為UI未正常關閉所造成。</li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

