<div class="col-lg-{{ field.width }} utils-srch" theme="bootstrap" >
  <div theme="bootstrap" >
    <label class="text-primary"> {{ field.label }} </label>
    <ui-select ng-model="field.selected" theme="bootstrap"
               reset-search-input="false" on-select="syncSearchField($select)">
      <ui-select-match>
            <span ng-bind="field.selected" ng-click='clicked()'></span>
      </ui-select-match>
      <ui-select-choices repeat="item in field.filteredData"
                         refresh="getField($select)" refresh-delay="500">
        <span ng-bind="item"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>