.te_phison_hold_lot-example span {
    font-weight: bold;
}

.te_phison_hold_lot h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 14px;
}

.te_phison_hold_lot label.with-input {
    float: left;
}

.te_phison_hold_lot span.follow-tag {
    display: block; 
    overflow: hidden; 
    padding: 0 4px 0 4px;
}

.te_phison_hold_lot-grid {
    height: 450px;
}

.te_phison_hold_lot .greenBackground {
    background-color: lightgreen;
}
