<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
<div ng-bind-html="hintText"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="ok()">OK</button>
</div>