<div class="input-group">
  <input id="sheetinput_{{$id}}" type="file" accept=".xlsx,.xls" multiple="false" class="form-control width100" ng-click="setDefault()"/>
  <!-- <label class="btn btn-info btn-file">
    Browse <input type="file"  accept=".xlsx,.xls" multiple="false" style="display: none;">
  </label> -->
  <span class="input-group-btn">
    <button ng-click="clear()" class="btn btn-info">清除</button>
  </span>
</div>