<div class="col-lg-12" style="margin: 1em 0">
	<div class="row">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer;" ng-click="toggleShow()"></span>
				<h3 class="panel-title">選擇參數</h3>
			</div>
			<div class="panel-body">
				<fieldset style="border: solid 1px #DDD !important; padding: 0 10px 10px 10px; border-bottom: none; margin-bottom: 1em;">
					<legend style="width: auto !important; padding: 0 5px; font-size: 1.2em; letter-spacing: 1px; border: none; background-color: white;">選區</legend>
					<div style="display: flex;">
						<div class="col-lg-3" ng-repeat="subgroup in dutFilterOption.group" style="display: flex; flex-direction: column; margin: 0.6em 0;">
							<label ng-repeat="item in subgroup">
								<input type="checkbox" ng-model="item.checked">
								{{ item.name }}
							</label>
						</div>
					</div>
				</fieldset> 
			</div>
		</div>
	</div>
</div>