<div class="tab-content">
  <div class="package-title">
    <h1>DUT LOG</h1>
    <hr>
  </div> 
  <div class="col-lg-12" >
        <search-date selected="selected">
  </div>
  <div class="col-lg-12">
    <hr>
    <div ng-repeat="f in fields">
      <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
    </div>
  </div>
</div>

<div class="col-lg-12" style="margin-bottom: 5px;">
  <hr>
  <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="isSearching">查詢
    <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
  </button>
  <button type="button" class="btn btn-warning" ng-click="togglePanelShow()">參數</button>
  <button type="button" class="btn btn-success" ng-click="exportAllXLSX()">下載Excel</button>
  <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
  <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
  <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
</div>  
<div class="col-lg-12">
  <div class="row">
    <dut-filter-panel dut-filter-option="dutFilterOption" is-visible="isPanelVisible" ng-click="setVarlist()" ng-show="isPanelVisible"></dut-filter-panel>
  </div>
  <div style="height: 450px;" class="ag-blue" ag-grid="boardInfoGrid">
  </div>
  <span class="row"></span>
  <div class="row">
    <div class="col-lg-2">
      <select name="varsSelect" id="varsSelect" ng-model="varsSeleted.varsListSelected" >
        <option ng-repeat="v in varsSeleted.varsList"  ng-if="v.name != 'ERRCODE'" value="{{v.name}}">{{v.name}}</option>
      </select>
    </div>
    <div class="col-lg-1"> 
      <div class="row">
      <label ng-repeat="n in varsSeleted.slotChooseList">
        <input type="radio" name="slotChooseSelect" ng-model="varsSeleted.slotChooseListSelected" value="{{n.name}}" ng-change="changeSlotChoose()" />{{n.name}}
      </label>
      </div >
    </div>
    
    <div class="col-lg-1">
      <select name="slotOptionSelect" id="slotOptionSelect" ng-model="varsSeleted.slotOptionListSelected" >
        <option ng-repeat="v in varsSeleted.slotOptionList  track by $index" value="{{v}}">{{v}}</option>
      </select>
    </div>
  </div>
  <dut-date-trend-chart data="rows" show-list="boardList" vars-list-selected="varsSeleted.varsListSelected" slot-choose-list-selected="varsSeleted.slotChooseListSelected" slot-option-list-selected="varsSeleted.slotOptionListSelected" other-slot-option-list = "varsSeleted.otherSlotOptionList" ></dut-date-trend-chart>
</div>
