.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.rebi-groupby {
    padding-top: 10px;
    padding-bottom: 10px;
}

#rebi-loadingchart {
  width: 100%;
  position: absolute;
  z-index:3;
}

#rebi-loadingchart .loading-cht-container{
  left:0%;
  top:0%;
  margin:0;
  width: 100%;
  height: 100%;
}

.rebi-ftable-comment {
    font-size: small;
    color: gray;
}