.pmb-example span {
    font-weight: bold;
}

.pmb h1 {
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
}

.pmb h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 14px;
}

.pmb label.with-input {
    float: left;
}

.pmb span.follow-tag {
    display: block; 
    overflow: hidden; 
    padding: 0 4px 0 4px;
}

.pmb-grid {
    height: 450px;
}

.pmb .greenBackground {
    background-color: lightgreen;
}
