<div class="tab-content">
  <div class="package-title">
    <h1>XDOWN</h1>
    <hr>
  </div>
  <fieldset  ng-disabled="isSearching">
    <p>
    <div class="col-lg-12" >
        <search-date selected="selected">
    </div>
    <div class="col-lg-12">
      <hr>
      <div ng-repeat="f in fields">
        <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
      </div>
    </div>
    <div class="col-lg-12" style="margin-bottom: 5px;">
      <hr>
      <button type="button" class="btn btn-primary" ng-click="getOvenInfo()" ng-disabled="isSearching">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
      <button  ng-show="rowNum>0" type="button" class="btn btn-warning" ng-click="changeContext()">
        <div ng-show="mode=='fail'">Show Failure Mode</div>
        <div ng-show="mode=='error'">Show Error Message</div>
      </button>
      <button ng-show="rowNum>0" type="button" class="btn btn-success" ng-click="exportXLS(false)">下載Excel</button>
      <button ng-show="rowNum>0" type="button" class="btn btn-success" ng-click="getDailyData()">Xdown Report</button>          
      <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
      <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
      <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
    </div>
    <div class="col-lg-12">
      <div style="height: 250px;" class="ag-blue" ag-grid="xdownInfoGrid"></div>
    </div>
  </fieldset>
</div>

<hr>
<div class="form-group" ng-show="chartData.length>0">
<span class="row">
    <div class="col-lg-12">
      第一維度：　<select name="varsSelect" id="varsSelect" ng-model="varsSeleted.firstVarsSelected" ng-change="changeGroup(this.varsSeleted.firstVarsSelected)" >
      <option ng-repeat="v in varsSeleted.varsList"  value="{{v.id}}">{{v.name}}</option>
    </select> 

第二維度：　<select name="secondVarsSelected" id="secondVarsSelected" ng-model="varsSeleted.secondVarsSelected" ng-change="setSecondGroup(this.varsSeleted.secondVarsSelected)" >
      <option ng-repeat="sv in varsSeleted.secondList"  value="{{sv.id}}">{{sv.name}}</option>
    </select>

  </div>
</span>




    <ol>
    <li>根據第一維度選項分類資料，顯示分析圖。(預設顯示日期)</li>
    <li>點擊圖表中任一長條，篩選該子群集進行第二層分析。</li>
    <li>根據第二維度選項分類資料，顯示分析圖表。
    <li>再次點擊任一長條，更新顯示該子群錯誤訊息柏拉圖。
  </ol>

<xdown-chart data="chartData" group-key="groupKey" second-group-key="secondGroupKey" group-value="groupValue" mode="mode" param="param" time-data="timeData" days="days"></xdown-chart>

    <div class="col-lg-12" ng-show="false">
      <div style="height: 250px;" class="ag-blue" ag-grid="dailyXdownGrid"></div>
    </div>
</div>

