.mxic-example span {
    font-weight: bold;
}

.mxic h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 14px;
}

.mxic label.with-input {
    float: left;
}

.mxic span.follow-tag {
    display: block; 
    overflow: hidden; 
    padding: 0 4px 0 4px;
}

.mxic-grid {
    height: 450px;
}

.mxic .greenBackground {
    background-color: lightgreen;
}

.mxic .btn-socket {
    border-color: black;
    border-radius: 0px;
    border: 1px solid;
    font-size: 10px; 
    width: 30px;
    height: 27px;
    padding: 0px 0px;
}

.mxic .btn-column {
    border: 0px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.mxic .btn-column-title {
    border: 0px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.mxic .btn-column-sub {
    border: 0px solid;
    width: 20px;
    height: 18px;
    padding: 1px;
    float: left;
    margin: 0;
    text-align: center;
}

.mxic .socket-matrix {
    border-collapse: collapse;
}

.mxic .td-socket { 
  padding:0px; 
  border-width:0px; 
  margin:0px; 
}

.mxic .btn.btn-oven {
    /*border-bottom-width: 2px;*/
    border-radius: 4px !important;
    border-color: #286090;
    background: white;
    color: #286090;
    font-size: 15px;
}
.mxic .btn.btn-slot {
    /*border-bottom-width: 2px;*/
    border-radius: 4px !important;
    border-color: #a7c9a1;
    background: white;
    color: #6ea465;
    font-size: 10px;
    width: 80px;
    height: 44px;
}
