<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top" data-role="navigation" ng-controller="HeaderController">
    <div class="page-header">
        <div class="navbar-header">
            <div class="logo pull-left">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div ng-show="hdrvars.authenticated">
                <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">BIIS</a>
                <a class="navbar-brand" ui-sref="bakdetail page" mean-token="'site-title'">BAKDETAIL</a>
                <a class="navbar-brand" ui-sref="mtbf main page" mean-token="'site-title'">BIBMTBF</a>
                <a class="navbar-brand" ui-sref="dclog example page" mean-token="'site-title'">DCLOG</a>
                <a class="navbar-brand" ui-sref="dutlog example page" mean-token="'site-title'">DUTLOG</a>
                <a class="navbar-brand" ui-sref="ecid main page" mean-token="'site-title'">ECID</a>
                <a class="navbar-brand" ui-sref="tehr main page" mean-token="'site-title'">HOLD RATE</a>
                <a class="navbar-brand" ui-sref="oms main page" mean-token="'site-title'">OMS</a>
                <a class="navbar-brand" ui-sref="pmb main page" mean-token="'site-title'">PMB</a>
                <a class="navbar-brand" ui-sref="selftest main page" mean-token="'site-title'">SELF TEST</a>
                <a class="navbar-brand" ui-sref="xdown example page" mean-token="'site-title'">XDOWN</a>
                <ul class="navbar-nav nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span style="font-size: 18px">Others...</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a ui-sref="abdr main page" mean-token="'site-title'">AMS BIB/DRIVER</a></li>
                          <li><a ui-sref="autoloader main page" mean-token="'site-title'">AUTO LOADER</a></li>
                          <li><a ui-sref="bicr main page" mean-token="'site-title'">BI COMPLETE RATE</a></li>
                          <li><a ui-sref="ctest main page" mean-token="'site-title'">CHANNEL TEST</a></li>
                          <li><a ui-sref="dutoffrate page" mean-token="'site-title'">DUT OFF RATE</a></li>
                          <li><a ui-sref="mxic main page" mean-token="'site-title'">MXIC BINMAP+YIELD</a></li>
                          <li><a ui-sref="te_phison_hold_lot main page" mean-token="'site-title'">PHISON HOLD LOT</a></li>
                          <li><a ui-sref="rebi main page" mean-token="'site-title'">REBI & YIELDREPORT</a></li>
                          <li><a ui-sref="te_stm main page" mean-token="'site-title'">STM BINMAP+COLUMNFAIL</a></li>
                          <li><a ui-sref="stmyield main page" mean-token="'site-title'">STM YIELD</a></li>
                          <li><a ui-sref="mbisql main page" mean-token="'site-title'">SQL MBI</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" ng-class="!isCollapsed && 'in'">
            <div class="left pull-left">
                <ul class="navbar-nav nav">
                    <li ui-route="/{{item.link}}" ng-class="{active: $uiRoute}" ng-repeat="item in menus.main">
                        <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
                    </li>
                </ul>
            </div>

            <div class="right pull-right">
                <div class="text-edit" ng-show="hdrvars.authenticated">
                    <div class="pull-right" mean-token-editable></div>
                    <div class="pull-right" mean-translate></div>
                </div>
                <ul class="navbar-nav nav auth-link" ng-show="!hdrvars.authenticated">
                    <li class="divider-vertical"></li>
                    <li><a ui-sref='login'>Log In</a></li>
                </ul>
                <ul class="navbar-nav nav" ng-show="hdrvars.authenticated">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Hi! {{hdrvars.user.name}}</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-show="hdrvars.adminAuth"><a ui-sref='usermanagement'>User management</a></li>
                            <li><a ui-sref='accountsetting'>Change profile</a></li>
                            <li ng-show="hdrvars.adminAuth"><a ui-sref='userrequestlog'>Request log</a></li>
                            <li><a href="/login" ng-click="logout()">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
