<section class="welcome container-fluid" data-ng-controller="IndexController">
</section>


<div class="row">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="intro-message">
            <h1>K  Y  E  C</h1>
            <h3>Burn In Information System</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <button type="button" class="btn-func" style="width:230px;"ui-sref='abdr main page'>AMS BIB/DRIVER</button>
              <button type="button" class="btn-func" style="width:180px;" ui-sref='autoloader main page'>AUTO LOADER</button>
              <button type="button" class="btn-func" ui-sref='bakdetail page'>BAKDETAIL</button>
              <button type="button" class="btn-func" ui-sref='mtbf main page'>BIBMTBF</button>
              <button type="button" class="btn-func" style="width:230px;" ui-sref='bicr main page'>BI COMPLETE RATE</button>
              <button type="button" class="btn-func" style="width:180px;" ui-sref='ctest main page'>CHANNEL TEST</button>
              <button type="button" class="btn-func" ui-sref='dclog example page'>DCLOG</button>
              <button type="button" class="btn-func" style="width:180px;" ui-sref='dutoffrate page'>DUT OFF RATE</button>
              <button type="button" class="btn-func" ui-sref='dutlog example page'>DUTLOG</button>
              <button type="button" class="btn-func" ui-sref='ecid main page'>ECID</button>
              <button type="button" class="btn-func" ui-sref='tehr main page'>HOLD RATE</button>
              <button type="button" class="btn-func"  style="width:230px;" ui-sref='mxic main page'>MXIC BINMAP+YIELD</button>
              <button type="button" class="btn-func" ui-sref='oms main page'>OMS</button>
              <button type="button" class="btn-func" style="width:230px;"ui-sref='te_phison_hold_lot main page'>PHISON HOLD LOT</button>
              <button type="button" class="btn-func" ui-sref='pmb main page'>PMB</button>
              <button type="button" class="btn-func" style="width:230px;" ui-sref='rebi main page'>REBI & YIELDREPORT</button>
              <button type="button" class="btn-func" ui-sref='selftest main page'>SELF TEST</button>
              <button type="button" class="btn-func" style="width:180px;" ui-sref='mbisql main page'>SQL MBI</button>
              <button type="button" class="btn-func" style="width:300px;" ui-sref='te_stm main page'>STM BINMAP+COLUMNFAIL</button>
              <button type="button" class="btn-func" ui-sref='stmyield main page'>STM YIELD</button>
              <button type="button" class="btn-func" ui-sref='xdown example page'>XDOWN</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
