<div class="tab-content pmb">
  <div class="package-title">
    <h1>POWER MONITOR BOARD</h1>
    <hr>
  </div>
  <div class="col-lg-12" >
    <search-datetime selected="selected">
  </div>
  <div class="col-lg-12">
    <hr>
    <div ng-repeat="f in fields">
      <search-filter field=f fields=fields query-url="fieldSearchURL" extra-match="selectedToQuery"></search-filter>
    </div>
  </div>
  <div class="col-lg-12" style="margin-bottom: 5px;">
    <hr>
    <form class="form-inline">
      <button type="button" class="btn btn-primary" ng-disabled="isSearching" ng-click="queryData()">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
      <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
      <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
      <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
      <label class="text-primary">, 下一層顯示:  </label>
      <select ng-model="nextGraphType" class="form-control" style="width: 110px" 
              ng-options="g.label for g in graphTypes" ng-change="clearSubGraph()">
      </select>
      <button type="button" class="btn btn-danger" ng-show="problemOvens.length>0" ng-click="getProblemOvenInfo()"
              data-toggle="modal" data-target="#problemOvenModal">PMB異常</button>
    </form>
    <form class="form-inline" ng-show="lotData.drillDown.message">
      <hr>
      <label class="text-primary"> 過濾條件: {{lotData.drillDown.message}} </label>
      <button type="button" class="btn btn-danger" ng-click="lotData.backToFailData()"> 復原 </button>
    </form>
  </div>
  <div class="col-lg-12">
    <ul class="nav nav-tabs" ng-if='showMainGraph'>
      <li ng-repeat="tab in lotData.groupTabList.list track by $index" id="{{tab.groupKey}}"  ng-class="{'active': tab.active}">
        <a href="#href{{tab.groupKey}}" data-toggle="tab" ng-click="lotData.clickGroup(this.tab.groupKey)">{{tab.groupKey}}</a>
      </li>
    </ul> 
    <fail-stack ng-if='showMainGraph' source="lotData.mainFailData.data" next-type="nextGraphType" ng-click="refresh"></fail-stack>
    <hr>
  </div>

  <div class="col-lg-12" ng-show="alwaysNoShow">
    <div class="ag-blue ecid-grid" ag-grid="lotDetailGrid"></div>
  </div>

  <div class="col-lg-12" style="margin-bottom: 5px;" ng-if="lotData.lotFailData.name">
    <form class="form-inline">
      <label style="margin-right: 10px;"><h3>{{lotData.lotFailData.name}} DPS模組</h3></label>
      <button type="button" class="btn btn-success" ng-click="exportXLS()">Export XLSX</button>
    </form>
    <lot-fail-stack source="lotData.lotFailData.data" ng-click="refresh"></lot-fail-stack>
    <hr>
  </div>

  <div class="col-lg-12" style="margin-bottom: 5px;" ng-if="lotData.lotDetailData.name">
    <form class="form-inline">
      <label style="margin-right: 10px;"><h3>{{lotData.lotDetailData.name}} 電壓 
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="lotData.lotDetailData.isQuering"></i></h3>
      </label>
      <label class="text-primary"> ［查詢狀態］{{ lotData.lotDetailData.requestStatus }}, </label>
      <label class="text-primary" ng-show="lotData.lotDetailData.queryTime"> 
             ［查詢時間］{{ lotData.lotDetailData.queryTime/1000 | number:2 }}秒, </label> 
      <label class="text-primary" ng-show="lotData.lotDetailData.rowNum"> ［查詢筆數］{{ lotData.lotDetailData.rowNum }} </label>
    </form>
    <button type="button" ng-show="!lotData.lotDetailData.isQuering" class="btn btn-info" data-toggle="modal" 
            data-target="#legendsSettingModal" ng-click="lotData.backupLotDetailData()"> 顯示設定 </button>
    <button type="button" class="btn btn-success" ng-click="exportXLS()"
            ng-show="!lotData.lotDetailData.isQuering">Export XLSX</button>
    <lot-detail-stack source="lotData.lotDetailData.data" 
                      ng-click="refresh" legends="lotData.lotDetailData.legends"></lot-detail-stack>
    <hr>
  </div>

  <!--************************************-->
  <!--             電壓設定彈窗           -->
  <!--************************************-->

  <div class="modal fade" id="legendsSettingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form ng-submit="redrawLotDetailGraph()">
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"> 顯示電壓設定 </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                <h4>顯示電壓</h4>
                <fieldset style="border: solid 1px; margin-top: 10px;">                  
                  <label ng-repeat="legend in lotData.lotDetailData.defaultLegends" style="margin-left:5px;width:120px" >
                    <input type="checkbox" value="false" ng-model="legend.checked" ng-click="lotData.getLegends()">
                      {{ legend.name }}
                  </label>
                </fieldset>
                <h4 style="margin-top: 20px;">顯示上下限</h4>
                <fieldset style="border: solid 1px; margin-top: 10px;">
                  <label ng-repeat="limit in lotData.lotDetailData.defaultLimitlines" style="margin-left:5px;width:160px" >
                    <input type="checkbox" value="false" ng-model="limit.checked" ng-click="lotData.getLimitlines()">
                      {{ limit.name }}
                  </label>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" id="submit" value="確定" class="btn btn-sm btn-primary"/>
            <i class="fa fa-spinner fa-pulse fa-fw" ng-show="isApplyConfig" aria-hidden="true"></i>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--************************************-->
  <!--            PMB異常態彈窗           -->
  <!--************************************-->

  <div class="modal fade" id="problemOvenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"> PMB異常態彈窗 </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                <span ng-repeat="oven in problemOvenInfo">                  
                  <p><h4>{{oven.OVENID}}</h4>{{oven.INFO}}</p>
                  <p ng-show="oven.DATETIME">最後一筆紀錄: {{oven.DATETIME.slice(0,-5)}}</p>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<span class="row"></span>
