.stackmap .btn-dut {
    border-color: black;
    border-radius: 0px;
    border: 1px solid;
    width: 50px;
    height: 45px;
    padding: 11px 12px;
}

.stackmap .btn-column {
    border: 0px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.stackmap .btn-column-title {
    border: 0px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.stackmap .btn-column-sub {
    border: 0px solid;
    width: 50px;
    height: 30px;
    padding: 5px;
    float: left;
    margin: 0;
    text-align: center;
}

.stackmap .dut-matrix {
    border-collapse: collapse;
}

.stackmap .td-dut { 
  padding:0px; 
  border-width:0px; 
  margin:0px; 
}