<div class="tab-content">
  <div class="package-title">
    <h1>DCLOG</h1>
    <hr>
  </div>
  <div class="col-lg-12" >
    <search-datetime selected="selected">
  </div>

  <div class="col-lg-12">
    <hr>
    <div ng-repeat="f in fields">
      <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
    </div>

    <div class="col-lg-1"  theme="bootstrap">
      <label class="text-primary"  >Zone:</label> <ui-select multiple tagging ng-model="selectedZone.zone">
      <ui-select-match   allow-clear="true">{{$item}}</ui-select-match>
      <ui-select-choices repeat="zone in zoneOption | filter: $select.search">{{zone}}</ui-select-choices>
    </ui-select>
</div>
      <div class="col-lg-2"  theme="bootstrap">
        <label class="text-primary"  >Z0-Board:</label> <ui-select multiple tagging ng-model="selectedBoard0.board">
    <ui-select-match  allow-clear="true">{{$item}}</ui-select-match>
    <ui-select-choices repeat="board in boardOption0 | filter: $select.search">{{board}}</ui-select-choices>
  </ui-select>
        </div>
      <div class="col-lg-2"  theme="bootstrap">
        <label class="text-primary"  >Z1-Board:</label> <ui-select multiple tagging ng-model="selectedBoard1.board">
    <ui-select-match  allow-clear="true">{{$item}}</ui-select-match>
    <ui-select-choices repeat="board in boardOption1 | filter: $select.search">{{board}}</ui-select-choices>
  </ui-select>
        </div>
      <div class="col-lg-2"  theme="bootstrap">
        <label class="text-primary"  >Z2-Board:</label> <ui-select multiple tagging ng-model="selectedBoard2.board">
    <ui-select-match  allow-clear="true">{{$item}}</ui-select-match>
    <ui-select-choices repeat="board in boardOption2 | filter: $select.search">{{board}}</ui-select-choices>
  </ui-select>
        </div>
      <div class="col-lg-2"  theme="bootstrap">
        <label class="text-primary"  >Z3-Board:</label> <ui-select multiple tagging ng-model="selectedBoard3.board">
    <ui-select-match  allow-clear="true">{{$item}}</ui-select-match>
    <ui-select-choices repeat="board in boardOption3 | filter: $select.search">{{board}}</ui-select-choices>
  </ui-select>
        </div>
  </div>

</div>
<span class="row">
  <label class="col-lg-1"  theme="bootstrap">
    <input type="radio" ng-model="testType.name" value="vars" ng-click="setTestType(this.testType)">
    By Vars
  </label>
  <label class="col-lg-1"  theme="bootstrap">
    <input type="radio" ng-model="testType.name" value="board" ng-click="setTestType(this.testType)">
    By Slot
  </label>
    <label class="col-lg-2"  theme="bootstrap">
    <input type="checkbox" ng-model="showTemp" ng-click="setShowTemp(this.showTemp)">
    顯示溫度
  </label>
</span>

<div class="col-lg-12">
  <hr>
</div>
<div class="col-lg-12" style="margin-bottom: 5px;">
  <button type="button" class="btn btn-warning" ng-click="toggleFilterPanelShow()">參數</button>
  <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="isSearching">查詢
    <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
  </button>
  <button class="btn btn-success"  ng-show="rows.length" ng-click="exportAllXLSX()"> 下載Excel </button>
  <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
  <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
  <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
</div>
<div class="col-lg-12">
  <filter-panel filter-option="filterOption" is-visible="isFilterPanelVisible" vars-list="varsSeleted.varsList" ng-show="isFilterPanelVisible"></filter-panel>
  <ul class="nav nav-tabs" id ="umtab">
    <li ng-repeat="vartab in varsSeleted.tabList track by $index" id="{{vartab.name}}" ng-class="{'active': $index==0}">
      <a href="#href{{vartab.name}}" data-toggle="tab"  ng-click="setTempVartab(this.vartab,true)">{{vartab.name}}</a>
    </li>
  </ul>

  <div style="height: 450px;" class="ag-blue" ag-grid="dclogInfoGrid">
  </div>
  <br>
  <date-trend-chart data="rows" show-list="boardList" title-name="currentTabName" show-temp="showTemp"></date-trend-chart>
</div>
