<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope"
      itemtype="http://schema.org/Product">
{% include 'includes/head.html' %}
<script>
    agGrid.LicenseManager.setLicenseKey("Alpha_Information_Systems_Inc._FTEDA_1Devs_17_August_2017__MTUwMjkyNDQwMDAwMA==47176b4cb922e8daa83fa7173a3deb8a");
    agGrid.initialiseAgGridWithAngular1(angular);
    console.log("HI~~~");
    AmCharts.baseHref = true;
</script>
<body ng-controller="appCtrl" class="{{$state.current.data.specialClass}}" landing-scrollspy tour backdrop="true">

    <div ui-view></div>

{% include '../includes/foot.html' %}


</body>
</html>