<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">Error Config</h4>
</div>
<div class="modal-body">
    <h4>當前 Error Configure</h4>
    <hr>
    <div style="height: 450px;" class="ag-blue" ag-grid="errorConfigGrid"></div>

<div class="modal-footer">
	<label>狀態:</label>{{uploadStatus}}
<button type="button" class="btn btn-primary" ng-disabled="!readyToUpload" ng-click="getSheetData()">上傳Error configue</button>
    
    
    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
</div>
