<meta http-equiv="Content-Type" content="text/html; charset=big5" /> 
<div class="tab-content">
  <div class="package-title">
    <h1>AUTO LOADER</h1>
    <hr>
  </div>
  <fieldset  ng-disabled="isSearching">
    <p>
    <div class="col-lg-12" >
        <search-date selected="selected">
    </div>
    <div class="col-lg-12">
      <hr>
      <div ng-repeat="f in fields">
        <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
      </div>
    </div>

    <div class="col-lg-12">
        <hr>
        <sheet-import class="col-lg-2" one-col="false" data="sheetData"></sheet-import>
  <label   theme="bootstrap">
    <input type="radio" ng-model="errorType.name" value="PPLU600" ng-click="setErrorType(this.errorType)">
    PPLU600
  </label>
  <label   theme="bootstrap">
    <input type="radio" ng-model="errorType.name" value="PPLU800" ng-click="setErrorType(this.errorType)">
    PPLU800
  </label>
  <label   theme="bootstrap">
    <input type="radio" ng-model="errorType.name" value="TBPP14000" ng-click="setErrorType(this.errorType)">
    TBPP14000
  </label>
    <error-config-modal ready-to-upload="readyToUpload" error-type="errorType" sheet-data="sheetData"></error-config-modal>
    </div>
    <div class="col-lg-12" style="margin-bottom: 5px;">
      <hr>
      <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="isSearching">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
      <button type="button" class="btn btn-warning" ng-show="rowNum>0" ng-click="toggleFilterPanelShow()">錯誤訊息</button>
      <button ng-show="rowNum>0" type="button" class="btn btn-success" ng-click="export()">下載Excel</button>
      <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
      <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
      <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
    </div>
<div class="row">
  <al-filter-panel filter-option="filterOption" is-visible="isFilterPanelVisible"  ng-show="isFilterPanelVisible" errors-list="errorsList"></al-filter-panel>
</div>

    <div class="col-lg-12">
      <div style="height: 250px;" class="ag-blue" ag-grid="autoloaderGrid"></div>
    </div>
  </fieldset>
</div>
<div class="form-group" ng-show="chartData.length>0">
  <h3><label class="text-primary">［Failedmode 柏拉圖］</label></h3>
  <ul>
    <li>點擊上方[錯誤訊息]按鈕，選擇要進階分析的錯誤種類</li>
  </ul>
</div>
  <al-chart data="chartData" ></al-chart>

<div class="form-group" ng-show="errorData.length>0">
  <hr>
  <h3><label class="text-primary">［特定錯誤訊息分析］</label></h3>
    <ul>
    <li>點擊顯示該爐異常計次/天，再次點擊回到上一層</li>
  </ul>
<al-error-chart  data="errorData" ></al-error-chart>
    <hr>
  <h3><label class="text-primary">［每日異常錯誤訊息統計］</label></h3>
<al-msg-chart  data="chartData" ></al-msg-chart >
</div>
