<div class="tab-content">
  <div class="package-title">
    <h1>DUT OFF RATE</h1>
    <hr>
  </div>
  <p>
  <div class="col-lg-12" >
    <div >
        <search-date selected="selected">
    </div>
  </div>
  <div class="col-lg-12">
    <hr>
    <div ng-repeat="f in fields">
      <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
    </div>
  </div>
  <span class="row"></span>

  <div class="col-lg-12" style="margin-bottom: 5px;">
    <hr>
    <button type="button" ng-show="drillDownShow" class="btn btn-primary" ng-click="ok()" ng-disabled="isSearching">回上步
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="isSearching">查詢
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
    </button>
    
    
  </div>
  <h3 ng-show="drillDownShow" class="col-lg-12 text-center" >Drill Down : {{drillDownTitle}}</h3>
  <div class="col-lg-12">
      
      <!-- <label class="text-primary"  > 選擇群集： </label>
      <select theme="bootstrap" ng-model="imageTypeSelected" ng-change="changeImage(this.imageTypeSelected)" >
        <option ng-repeat="v in varsSeleted.imageTypeList" value="{{v.id}}">{{v.name}}</option>
      </select>  -->
      <label class="text-primary"  > 選擇Dut on/off rate： </label>
        <select theme="bootstrap" ng-model="groupByObject.mainType" ng-change="changeMainType(this.groupByObject.mainType)" >
          <option ng-repeat="v in varsSeleted.mainTypeList" value="{{v.id}}">{{v.name}}</option>
        </select> 
      <label class="text-primary"  > 選擇群集： </label>
      <select theme="bootstrap" ng-model="groupByObject.groupBy" ng-change="changeGroup(this.groupByObject.groupBy)" >
        <option ng-repeat="v in varsSeleted.firstFieldList" value="{{v.id}}">{{v.name}}</option>
      </select> 
      
      <div ng-if="rowNum>0 || chartData.length>0">
        <dor-data-chart main-type="groupByObject.mainType" first-field-list="varsSeleted.firstFieldList" query-param="queryParam" data="rows" drill-down-type="level2Info.drillDownType" detect-have-click="level2Info.detectHaveClick" click-type="level2Info.clickType" now-click-cus="level2Info.nowClickCus" group-by="groupByObject.groupBy" image-type="imageType"></dor-data-chart>      
      </div>
      <div ng-if="level2Show">
        <dor-data-chart-level2 main-type="groupByObject.mainType" first-field-list="varsSeleted.firstFieldList" query-param="level2QueryParam" now-click-cus="level2Info.nowClickCus" histogram-click-data="histogramClickData" group-by="groupByObject.groupBy" image-type="imageType"></dor-data-chart-level2> 
      </div>
      <div>
        <h3 class="text-primary" >Group BIB ID Table </h3>
        <label class="text-primary"> ［查詢狀態］{{ bibRequestStatus }}</label>
        <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
        <label class="text-primary" ng-show="bibRowNum">,［查詢筆數］{{ bibRowNum }} </label>
        <button ng-show="bibRowNum>0" type="button" class="btn btn-success" ng-click="exportBibXLS()">下載Group Bib Table Excel</button>
        <div>&nbsp</div>
        <div style="height: 450px;" class="ag-blue" ag-grid="bibBoardInfoGrid">
      </div>
      <br/>
      <div>
        <h3 class="text-primary" >Normal Table </h3>
        <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
        <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
        <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
        <button ng-show="rowNum>0" type="button" class="btn btn-success" ng-click="exportXLS()">下載Normal Table Excel</button>
        <div>&nbsp</div>
        <div style="height: 450px;" class="ag-blue" ag-grid="boardInfoGrid">      
      </div>
      
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  
</div>

