<div>
  <form class="form-inline">
    <utils-simple-selector pick="groupBy" list="fields" key="'label'"> 分析群集: </utils-simple-selector>
    <utils-simple-selector pick="period" list="periods" key="'label'"> 推移圖單位: </utils-simple-selector>
    <utils-simple-selector pick="pRange" list="pRanges" key="'idx'"> 推移圖區間: </utils-simple-selector>
  </form>
  <div cid="bicr-grpcht-{{$id}}" uib-popover-html="grpTips" popover-trigger="'mouseenter'" popover-placement="top-right" class="utils-loading-chart grp" is-loading="grpLoading"></div>
  <div cid="bicr-trdcht-{{$id}}" class="utils-loading-chart trd" is-loading="trdLoading" ng-show="showTrend"></div>
  <p>lot 總數:{{lotnum}}</p>
  <div class="ag-blue bicr-grid" ag-grid="repairGrid"></div>
</div>