<div class="tab-content bicr">
  <div class="package-title">
    <h1>BI Complete Rate</h1>
    <hr>
  </div>
  <fieldset ng-disabled="isSearching()">
    <div class="srch-panel">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <search-date selected="selected"></search-date>
        </div>
        <div class="col-lg-6">
          <div class="pull-right">
            <schema-selector schema="schema"></schema-selector>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div ng-repeat="f in fields">
          <search-filter field=f fields=fields query-url="fieldSearchURL" extra-match="selected"></search-filter>
        </div>
      </div>
      <div class="col-lg-12" style="margin: 15px 10px 10px 10px;">
        <form class="form-inline">
          <button type="button" class="btn btn-primary" ng-click="ok()">查詢</button>
          <label class="text-primary"> ［查詢狀態］{{ requestStatus.str }} </label>
        </form>
      </div>
    </div>
    <uib-tabset class="bicr-tab" active="$root.bicr_active" ng-show="tabs.list.length>0">
      <uib-tab ng-repeat="t in tabs.list" index="t.id">
        <uib-tab-heading>
          {{t.title}} <a id="close-btn" ng-click="tabs.removeTab($index)"><i class="glyphicon glyphicon-remove"></i></a>
        </uib-tab-heading>
        <bicr-data-panel tb="tabs.list[$index]"/>
      </uib-tab>
    </uib-tabset>
  </fieldset>
</div>