.bicr span {
    font-weight: bold;
}

/*.bicr h1 {
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
    text-shadow: 3px 3px #888888;
}*/

.bicr h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center; 
    margin: 0 0 14px;
}

.bicr h3 {    
    color: #CC6600; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center;
    margin: 0 0 0px;
}

.bicr h4 {    
    color: #CC6600; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center;
    margin: 0 0 0px;
}

.bicr .srch-panel {
  width: 100%;
  height: 230px;
  background-color: LightGoldenRodYellow;
  border: 2px #ccc solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px; 
  padding: 15px 5px 1px;
}

.bicr .grp {
  width: 100%;
  height: 500px;
}

.bicr .trd {
  width: 100%;
  height: 400px;
}

.bicr-tab > .tab-content{
    background-color: #D3D3D3;
    color: #2F4F4F;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-color: #778899;
    padding: 2%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
}

.bicr-tab > .nav-tabs > li.active > a{
    background-color: #D3D3D3 !important;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-color: #778899;
    color:#2F4F4F;
    font-weight: bold;
}

.bicr-tab > .nav-tabs > li:not(.active) a:not(#close-btn){
    background-color: #fff !important;
    border: medium none;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    color:#000066;
}

.bicr .bicr-grid {
  height: 200px;
  width: 100%;
}