<div sytle="position:absolute">
  <button class="btn btn-primary" ng-click="switch=!switch" style="margin-bottom: 5px;">
    <div ng-show="switch">{{kyecBID}} 顯示: [Fail%]</div>
    <div ng-show="!switch">{{kyecBID}} 顯示: [Fail數]</div>
  </button>
  <br>
  <label class="btn-column-title" style="background-color: #D8EEF2; float:left;"> KYEC板號: {{kyecBID}} </label>
  <label class="btn-column" style="background-color: #FED386;" ng-style="{'width': dynamicWidth}"> Column </label>
  <br>
  <label class="btn-column-title" style="background-color: #D8EEF2; float:left;"> 客戶板號: {{customerBID}} </label>
  <span ng-repeat="col in columnFails">
    <label type="label" class="btn-column-sub" style="background-color: bisque;">{{col.INDEX}}</label>
  </span>
  <div>
    <label class="btn-column-title" style="background-color:white; color: white; width:5px;">|</label>
  </div>
  <label class="btn-column-title" style="background-color: #DBE5F0; float:left;" ng-click="extendSub=!extendSub"
         ng-init="extendSub=false"><i class="fa fa-plus-square-o" aria-hidden="true" ng-show="!extendSub"></i>  
         <i class="fa fa-minus-square-o" aria-hidden="true" ng-show="extendSub"></i>  Column Fail 累計次數 </label>
  <span ng-repeat="col in columnFails">
    <label type="label" class="btn-column-sub" style="border: 1px solid;" ng-if="!switch"
           ng-style="btnStyle(col.FAILS)">{{col.FAILS}}</label>
    <label type="label" class="btn-column-sub" style="border: 1px solid;" ng-if="switch"
           ng-style="btnStyle(col.FAILS)">{{col.RATE}}%</label>
  </span>
  <div>
    <label class="btn-column-title" style="background-color:white; color: white; width:5px;">|</label>
  </div>
  <br>
  <span ng-repeat="sub in subColumnFailData track by $index" ng-show="extendSub">
    <div class="row" ng-style="genBorder($index, sub.OVENID)">
      <div class="col-lg-1">
        <br>
        <button class="btn btn-oven" ng-show="sub.showOven">{{sub.OVENID}} </button>
      </div>
      <div class="col-lg-1">
        <br>
        <button class="btn btn-slot"> SLOT: {{sub.SLOT}} </button><br>
      </div>
      <div class="col-lg-10">
        <label class="btn-column-title" style="background-color: white; float:left;"> </label>
        <label class="btn-column" style="background-color: #FED386;" ng-style="{'width': dynamicWidth}"> Column </label>
        <br>
        <label class="btn-column-title" style="background-color: white; float:left;"> </label>
        <span ng-repeat="col in sub.columnFails">
          <label type="label" class="btn-column-sub" style="background-color: bisque;">{{col.INDEX}}</label>
        </span>
         <div>
          <label class="btn-column-title" style="background-color:white; color: white; width:5px;">|</label>
        </div>
        <label class="btn-column-title" style="background-color: #DBE5F0; float:left;"> Column Fail 累計次數 </label>
        <span ng-repeat="col in sub.columnFails">
          <label type="label" class="btn-column-sub" style="border: 1px solid;" ng-click="showLotnos(sub, col.LOTNO)"
                 ng-style="btnStyle(col.FAILS)" ng-if="!switch">{{col.FAILS}}</label>
          <label type="label" class="btn-column-sub" style="border: 1px solid;" ng-click="showLotnos(sub, col.LOTNO)"
                 ng-style="btnStyle(col.FAILS)" ng-if="switch">{{col.RATE}}%</label>
        </span>
        <span ng-show="sub.showDownload">
          <br><br>
          下載: <li ng-repeat="lot in sub.selectedLotno"><a ng-click="downloadLotData(lot)">{{lot}}</a></li>
        </span>
        <div>
          <label class="btn-column-title" style="background-color:white; color: white; width:5px;">|</label>
        </div>
      </div>
    </div>
  </span>
  <hr>
</div>
