<div class="tab-content te_stm">
  <div class="package-title">
    <h1>STM BINMAP+COLUMNFAIL</h1>
    <hr>
  </div>
  <div class="col-lg-12">
    <search-date selected="selected">
  </div>
  <div class="col-lg-12">
    <hr>
    <div ng-repeat="f in fields">
      <search-filter field=f fields=fields query-url="fieldSearchURL" extra-match="selectedToQuery"></search-filter>
    </div>
  </div>
  <div class="col-lg-12" style="margin-bottom: 5px;">
    <hr>
    <form class="form-inline">
      <button type="button" class="btn btn-primary" ng-disabled="isSearching" ng-click="queryData()" style="width: 70px">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
      <button type="button" class="btn btn-success" ng-click="exportXLS()" ng-show="rowNum">下載Excel</button>
      <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
      <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
      <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
    </form>
    <div class="ag-blue" style="height: 300px; margin-top:5px;" ag-grid="gridOption"></div>  
    <total-stack ng-show="avgData.length>0" source="avgData"></total-stack>
    <div class="col-lg-12" ng-show="socketMapData">
      <socket-map binfo="binfo" rawdata="socketMapData"></socket-map>
    </div>
    <br/>
    <div class="col-lg-12" ng-show="columnFailData">
      <h3>Column Fail分析 ({{columnFailDataNum}}組)</h3>
      <span ng-repeat="sub in columnFailData track by $index">
        <column-fail rawdata="sub"></column-fail> 
      </span>
    </div>
  </div>
</div>
<span class="row"></span>
<hr>
