<div sytle="position:absolute" id="socketmap-{{$id}}">
  <form class="form-inline">
    <label style="margin-right: 10px;"><h3>Socket疊圖分析</h3></label>
    <button class="btn btn-primary" ng-click="switch=!switch" style="margin-bottom: 5px;">
      <div ng-show="switch">顯示: [Fail%]</div>
      <div ng-show="!switch">顯示: [Fail數]</div>
    </button>
    <button class="btn btn-warning"style="margin-bottom: 5px;" 
            data-toggle="modal" data-target="#colorModal"> 調整顏色 </button>
  </form>

  <table class="socket-matrix" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th ng-repeat="i in xlabel" style="color:#000000;text-align:center"> {{ i }} </th>
      </tr>
    </thead>
    <tbody style="border: 1px solid;">
      <tr ng-repeat="row in socketMaps">
        <!--div TODO: 調整字體大小 -->
        <td class="td-socket" ng-repeat="socket in row track by $index">
          <label type="label" class="btn btn-socket" ng-style="btnStyle(socket)">
            <div ng-show="socket.FAIL>0&&!switch">{{socket.FAIL}}</div>
            <div ng-show="socket.FAIL>0&&switch">{{socket.FAIL/(socket.FAIL + socket.PASS)*100 | number:0}}%</div>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>

  <!--************************************-->
  <!--              顏色彈窗              -->
  <!--************************************-->

  <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
      <div class="modal-content">
        <form>
          <div class="modal-header" style="background: #b3d4fc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"> 顏色設定 </h4>
          </div>
          <div class="modal-body" style="text-align: center;">
            <div>
              <label class="text-primary"> [說明]: -1為空座, max為無限大, 範圍重複以上方為優先 </label><br>
              <span ng-repeat="item in colorSet">
                <input id ="colorPanel" type="color" ng-model="item.color" style="margin-right: 10px;">
                下界: <input ng-model="item.min" style="margin-right: 10px; width: 70px; text-align: center;">
                上界: <input ng-model="item.max" style="width: 70px; margin-bottom: 5px; text-align: center;"><br>
              </span> 
              <hr>
              <button class="btn btn-primary" ng-click="addColorRange()">新增範圍</button>
              <button class="btn btn-success" ng-click="recoveryColor()">復原</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

