<div class="tab-content te_phison_hold_lot">
  <div class="package-title">
    <h1>PHISON HOLD LOT</h1>
    <hr>
  </div>
  <form class="form-inline">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        選擇日期 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-repeat="range in dateRanges" role="menuitem" style="width: 200px;" ng-click="selectRange(range)">
        {{range.FROM| date:"yyyy/MM/dd"}} ~ {{range.TO| date:"yyyy/MM/dd"}} </li>
      </ul>
    </div>
    <button type="button" class="btn btn-success" ng-click="exportXLS()">下載BIB Fail Map</button>
    <label class="text-primary"> ［日期］{{ selectedRange.FROM|date:"yyyy/MM/dd" }} ~ {{ selectedRange.TO|date:"yyyy/MM/dd" }} 
                                  [報告產生日期: 每日8:30]</label>
  </form>
  <div class="ag-blue" style="height: 350px; margin-top:5px;" ag-grid="gridOption"></div> 
</div>
<span class="row"></span>
<hr>
