.tehr {
    /*background-color: #f8f8f8;*/
    /*box-shadow: inset 0px 0px 25px 25px #ffffff;*/
}

/*.tehr h1 {
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
    text-shadow: 5px 5px #cccccc;
}*/

.tehr h2 {    
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 14px;
    text-shadow: 2px 2px #cccccc;
}

.tehr .summary-box {
    height: 100%;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-radius: 10px;
    color: MintCream;
    background: #20B2AA;
    padding: 5px;
    margin: 5px 0px 15px 0px;
    box-shadow: 4px 4px 4px #888888;
}

.tehr .btn-group .active {
    background: #6495ED;
    color: #FFFFFF;
}

.tehr .grp {
  width: 100%;
  height: 400px;
}

.tehr .pie {
  width: 70%;
  height: 500px;
}

.tehr .trd {
  width: 100%;
  height: 400px;
}

.tehr .fm {
  width: 100%;
  height: 400px;
}

.tehr-tab > .tab-content {
    background-color:#ffffcc;
    color:#e68a00;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    padding: 10px;
}

.tehr-tab > .nav-tabs > li.active > a {
    background-color: #ffffcc !important;
    border-radius: 2;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #ddd;
    color:#e68a00;
    font-weight: bold;
}

.tehr-tab > .nav-tabs > li:not(.active) a:not(#close-btn) {
    background-color: #fff !important;
    border: medium none;
    border-radius: 2;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #ddd;
    color:#000066;
}

.tehr label.with-input {
    float: left;
}

.tehr span.follow-tag {
    display: block; 
    overflow: hidden; 
    padding: 0 4px 0 4px;
}

.tehr-grid {
    height: 450px;
}

.tehr .greenBackground {
    background-color: lightgreen;
}

.tehr .fmode-select {
    margin-top: 15px;
    margin-left: 15px;
}
