<div class="package-title">
  <h1>STM YIELD</h1>
  <hr>
</div>
<div class="col-lg-12">
  <div style="float:left;"><search-date-switch selected="selected"></search-date-switch></div>
</div>
<div class="col-lg-12" style="margin-bottom:25px;">
    <hr>
    <div ng-repeat="f in mesfields">
      <search-filter field=f fields=mesfields query-url="mesfsURL" extra-match="filterExtraMatch"></search-filter>
    </div>
</div>
<div class="col-lg-12" style="margin-top: 20px;margin-bottom: 5px;">
  <button type="button" class="btn btn-primary" ng-click="stmyieldQuery()" ng-disabled="waitingResponse">查詢
    <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="waitingResponse"></i>
  </button>
  <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
  <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
  <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
</div>
<div class="col-lg-12">
  <!-- Navigation Tab -->
  <ul class="nav nav-tabs">
    <li id="acnav" class="active"><a data-toggle="tab" href="#yieldcharttab">良率分析圖</a></li>
    <li id="datanav"><a data-toggle="tab" href="#rebicharttab">重測兩次以上分析圖</a></li>
  </ul>
  <!-- Tab Content -->
  <div class="tab-content">
    <div id="yieldcharttab" class="tab-pane in active">
      <div id="stmyloadingchart" class="utils-loading-chart" is-loading="chartOpts.loadingChart" ng-if="chartOpts.loadingChart"></div>
      <div id="stmyloadingrawdata" class="utils-loading-chart" is-loading="chartOpts.loadingRawData" ng-if="chartOpts.loadingRawData" loading-text="Raw Data is loading..."></div>
      <stm-yield-chart data="chartData" opts="chartOpts" style="position:relative;"></stm-yield-chart>
    </div>
    <div id="rebicharttab" class="tab-pane">
      <div id="stmyloadingchart" class="utils-loading-chart" is-loading="waitingResponse" ng-if="waitingResponse"></div>
      <label ng-show="rebiQtyChartData.length==0" class="text-primary" style="margin-top: 15px;">* 沒有大於等於0的重測兩次以上分析資料</label>
      <stm-rebi-chart ng-show="rebiQtyChartData.length>0" data="rebiQtyChartData" style="position:relative;"></stm-rebi-chart>
    </div>
  </div>
</div>
