<div class="tab-content ecid">
  <div class="package-title">
    <h1>ECID</h1>
    <hr>
  </div>
  <fieldset ng-disabled="isSearching">
    <p>
    <div class="col-lg-12" >
      <search-date selected="selected">
    </div>
    <div class="col-lg-12">
      <hr>
      <div ng-repeat="f in fields">
        <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
      </div>
      <label>僅查詢各 LOT 最後一筆: <input type="checkbox" ng-model="selected.isLastLot"></label>      
    </div>
    <div class="col-lg-12">
      <hr>
      <div class="col-sm-12">
        <h2 class="col-lg-2">大量 ECID 查詢</h2>
        <sheet-import class="col-lg-3" one-col="true" data="sheetData"></sheet-import>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            上傳 ECID 清單 <i data-toggle="collapse" href="#collapse1" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': true}"></i>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">            
              <span ng-repeat="ecid in sheetData">
                <span class="label label-info label-md">{{ ecid }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="margin-bottom: 5px;">
      <hr>
      <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="isSearching">查詢
        <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
      </button>
      <button type="button" class="btn btn-success" ng-click="exportXLS()">下載Excel</button>
      <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
      <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
      <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
    </div>
    <div class="col-lg-12">
      <div class="ag-blue ecid-grid" ag-grid="boardInfoGrid"></div>
    </div>
  </fieldset>
</div>
<span class="row"></span>
<hr>
