.utils-example span {
    font-weight: bold;
}

.loading-cht-container {    
  position: relative;
  /*width: 100%;
  height: 100%;*/
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  text-align: center;
  margin: 10px 4px 10px 4px;
}

.cht-content {
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;  
}

.loading-cht-container .curtain {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 25px;
}

.loading-cht-container .curtain span {
  position: absolute;
  display: block;
  top: 49%;
  width: 100%;
  text-align: center;
}

.loading-blink {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.utils-srch {
  margin: 5px 2px 5px 2px;
}

.utils-srch-date {
  margin: 5px 10px 5px 10px;
}

.utils-schema {
  margin: 10px 10px 10px 10px;
}