<div class="package-title">
  <h1>SQL MBI</h1>
  <hr>
</div>
<div class="col-lg-12">
  <div style="float:left;"><search-date-switch selected="selected"></search-date-switch></div>
</div>
<div class="col-lg-12" style="margin-bottom:25px;">
    <hr>
    <div ng-repeat="f in mbifields">
      <search-filter field=f fields=mbifields query-url="mbifsURL" extra-match="filterExtraMatch"></search-filter>
    </div>
    <!-- Zone & Slot selection -->
    <div class="col-sm-2">
      <label class="text-primary" >ZoneID</label>
      <ui-select multiple ng-model="zoneSlotOpts.zone.selected">
      <ui-select-match>{{$item}}</ui-select-match>
      <ui-select-choices repeat="zone in zoneSlotOpts.zone.list | filter:$select.search">
        {{zone}}
      </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-sm-2">
      <label class="text-primary" >SlotID</label>
      <ui-select multiple ng-model="zoneSlotOpts.slot.selected">
      <ui-select-match>{{$item}}</ui-select-match>
      <ui-select-choices repeat="slot in zoneSlotOpts.slot.list | filter:$select.search">
        {{slot}}
      </ui-select-choices>
      </ui-select>
    </div>
</div>
<div class="col-lg-12">
  <div style="margin-top: 20px;margin-bottom: 10px;">
    <button type="button" class="btn btn-primary" ng-click="queryData()" ng-disabled="waitingResponse">查詢
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="waitingResponse"></i>
    </button>
    <label class="text-primary"> ［查詢狀態］{{ requestStatus }} , </label>
    <label class="text-primary" ng-show="queryTime"> ［查詢時間］{{ queryTime/1000 | number:2 }}秒 , </label>
    <label class="text-primary"> ［查詢筆數］{{ rowNum }} </label>
  </div>
  <!-- Navigation Tab -->
  <ul class="nav nav-tabs">
    <li id="pyc" class="active"><a data-toggle="tab" href="#pyctab">PassYield趨勢圖</a></li>
    <li id="fyc"><a data-toggle="tab" href="#fyctab">FailYield趨勢圖</a></li>
    <li id="datanav"><a data-toggle="tab" href="#datanavtab">Bin分佈表</a></li>
  </ul>
  <!-- Tab Content -->
  <div class="tab-content mbisql">
    <div id="pyctab" class="tab-pane in active">
      <mbi-pass-yield-chart data="rawData"></mbi-pass-yield-chart>
    </div>
    <div id="fyctab" class="tab-pane">
      <mbi-fail-yield-chart data="rawData"></mbi-fail-yield-chart>
    </div>
    <div id="datanavtab" class="tab-pane">
      <mbi-bin-table data="rawData"></mbi-bin-table>
    </div>
  </div>
</div>