#stmyloadingchart {
  width: 100%;
  height: 730px;
  position: absolute;
  z-index:3;
}

#stmyloadingrawdata {
  width: 100%;
  height: 1225px;
  position: absolute;
  z-index:3;
}

#stmyloadingchart .loading-cht-container{
  left:0%;
  top:0%;
  margin:0;
  width: 100%;
  height: 100%;
}

#stmyloadingrawdata .loading-cht-container{
  left:0%;
  top:0%;
  margin:0;
  width: 100%;
  height: 100%;
}