<div class="tab-content">
  <div class="package-title">
    <h1>SELF TEST</h1>
    <hr>
  </div>

  <div class="col-lg-12" >
    <search-date selected="selected">
  </div>
  <div class="col-lg-12">
    <hr>
    <div ng-repeat="f in fields">
      <search-filter field=f fields=fields query-url="fieldSearchURL"></search-filter>
    </div>
    <div class="col-lg-2" theme="bootstrap" >
      <label class="text-primary"  > Failed Mode </label>
          <ui-select ng-model="failedmodeSelected" theme="bootstrap" ng-change="changeFailedmode(this.failedmodeSelected)">
            <ui-select-match>{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="mode in varsSeleted.failedmodeList | filter: $select.search">
              <div ng-bind-html="mode.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
    </div>
  </div>
  <span class="row"></span>
  <hr>
  <div class="col-lg-12" style="margin-bottom: 5px;">
    <button type="button" class="btn btn-primary" ng-click="ovenQuery()" ng-disabled="isSearching">查詢
      <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="isSearching"></i>
    </button>
    <oven-config-modal></oven-config-modal>
    <button ng-show="rowNum>0" type="button" class="btn btn-success" ng-click="filterDate()">下載Excel</button>
    <label class="text-primary"> ［查詢狀態］{{ requestStatus }}</label>
    <label class="text-primary" ng-show="queryTime">,［查詢時間］{{ queryTime/1000 | number:2 }}秒</label>
    <label class="text-primary" ng-show="rowNum">,［查詢筆數］{{ rowNum }} </label>
  </div>
  <div class="col-lg-12" style="margin-bottom: 5px;">
    <label class="text-primary"  > 選擇群集： </label>
    <select theme="bootstrap"  ng-model="firstListSelected" ng-change="changeGroup(this.firstListSelected)" >
      <option ng-repeat="v in varsSeleted.firstList"  value="{{v.id}}">{{v.name}}</option>
    </select> 
    <div style="height: 450px;" class="ag-blue" ag-grid="boardInfoGrid"></div>
    
    <div ng-show="rowNum>0 || chartData.length>0">
    <st-data-chart data="chartData" group-by="groupBy" daily-data="dailyData" query-param="queryParam"></st-data-chart></div>
    <hr>
    <div ng-show="false" style="height: 450px;" class="ag-blue" ag-grid="slotInfoGrid"></div>
  </div>
  
  <form class="form-inline">
      <label style="margin-right: 10px;"><h3>現況查詢</h3></label>
      <button type="button" class="btn btn-success" ng-click="dailySummary()">查詢</button>
      <!-- <button type="button" class="btn btn-success" ng-click="getOvenStatus()">Oven狀態查詢</button> -->
    </form>
    <div ng-show="ovenStatusRows.length>0" style="height: 450px;" class="ag-blue col-lg-3" ag-grid="ovenStatusGrid"></div>
    <div ng-show="daySummaryData.length>0" class="col-lg-9">
    <day-summary-chart data="daySummaryData" ></day-summary-chart>
    </div>
    
</div>
