<div class="color-line"></div>
<div class="modal-header">
<h4 class="modal-title">Oven Config</h4>
</div>
<div class="modal-body">
    <h4>當前Oven Configure</h4>
    <hr>
    <div style="height: 450px;" class="ag-blue" ag-grid="ovenInfoGrid"></div>
    <hr>
    <input type="file" theme="bootstrap"  id="importFile" onchange="angular.element(this).scope().storeOvenConfigue()"/>
    <button type="button" class="btn btn-primary" ng-click="uploadOvenConfigue()">上傳OVEN configue</button>
    <label>狀態:&emsp;</label>{{uploadStatus}}
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
</div>