<div>
  <form class="form-inline">

    <div class="form-group" style="margin-left: 30px;">
      <label for="repeatSelect"> 分析群集: </label>
      <select name="repeatSelect" ng-model="groupBy" class="form-control" ng-options="g.label for g in fields | filter: emptyOrNull">
      </select>
    </div>
    <div class="form-group" style="margin-left: 30px;">
    </div>
  </form>
<!--   <h2> MTBF Group 圖</h2>
  <hr></hr> -->
  <!-- <div id="st-chart"></div> -->
  
<!--   <h2> 推移圖 {{ trendGroup }} </h2>
  <hr></hr>
  <div id="mtbf-trend-chart-{{$id}}"></div> -->
</div>