.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}

.navbar-nav {
    cursor: pointer;
}

.page-header .navbar-nav {
    float: right;
}
.page-header > div > div, .page-header > div > ul {
    display: inline-block;
}
.text-edit {
    float: right; 
    margin-top: 12px;
}
.account {
    text-align:right;
}
.account > div, .account > ul {
    text-align: left;
}

.navbar .nav > li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.content {
    margin-top: 70px;
    width: 100%
}
.btn-func {
  width: 140px;
  height: 45px;
  margin-bottom:5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.btn-func:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background: #ddd;
	-webkit-box-shadow: 0 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black
}
footer p {
	padding: 5px 0 12px 10px
}

.featuredpic img{
  width:510px;
}

.dropdown-menu li{
	text-align: center;
}

.dropdown-menu li a{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}


/*.ng-invalid.ng-dirty{*/
    /*border-color:#FA787E;*/
/*}*/
/*.ng-valid.ng-dirty{*/
    /*border-color:#78FA89;*/
/*}*/

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/KYEC_BG1.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity:0.9;
    margin-top: -20px;
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 5px 5px 6px rgba(0,0,0,1);
    font-size: 7em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 4px 4px 4px rgba(0,0,0,1);
    font-size: 2em;
}

.package-title > h1 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
.jumptext {
 font-weight: bold;
 -webkit-animation: jump 1.5s ease 0s infinite normal ;
 animation: jump 1.5s ease 0s infinite normal ;
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-10px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-5px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}
