.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.btn {
    display: inline-block;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: none !important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    -o-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    /**
   &:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      color: #FFF;
      box-shadow: none;
   }
   */
}
.btn.active,
.open > .btn.active.dropdown-toggle {
    box-shadow: none;
}
.btn-lg,
.btn-group-lg > .btn {
    border-width: 5px;
    line-height: 1.4;
    padding: 5px 16px 6px;
}
.btn-xlg,
.btn-group-xlg > .btn {
    border-width: 5px;
    line-height: 1.35;
    padding: 7px 16px;
    font-size: 18px;
}
.btn-sm,
.btn-group-sm > .btn {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.38;
}
.btn-xs,
.btn-group-xs > .btn {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 3px;
}
.btn-mini,
.btn-group-mini > .btn {
    padding: 1px 5px;
    border-width: 3px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-minier,
.btn-group-minier > .btn {
    padding: 0 4px;
    line-height: 18px;
    border-width: 2px;
    font-size: 12px;
}
button.btn:active {
    top: 1px;
}
/*.btn,*/
/*.btn-default,*/
/*.btn:focus,*/
/*.btn-default:focus {*/
    /*background-color: #abbac3 !important;*/
    /*border-color: #abbac3;*/
/*}*/
/*.btn:hover,*/
/*.btn-default:hover,*/
/*.btn:active,*/
/*.btn-default:active,*/
/*.open > .btn.dropdown-toggle,*/
/*.open > .btn-default.dropdown-toggle {*/
    /*background-color: #8b9aa3 !important;*/
    /*border-color: #abbac3;*/
/*}*/
/*.btn.no-border:hover,*/
/*.btn-default.no-border:hover,*/
/*.btn.no-border:active,*/
/*.btn-default.no-border:active {*/
    /*border-color: #8b9aa3;*/
/*}*/
/*.btn.no-hover:hover,*/
/*.btn-default.no-hover:hover,*/
/*.btn.no-hover:active,*/
/*.btn-default.no-hover:active {*/
    /*background-color: #abbac3 !important;*/
/*}*/
/*.btn.active,*/
/*.btn-default.active {*/
    /*background-color: #9baab3 !important;*/
    /*border-color: #8799a4;*/
/*}*/
/*.btn.no-border.active,*/
/*.btn-default.no-border.active {*/
    /*background-color: #92a3ac !important;*/
    /*border-color: #92a3ac;*/
/*}*/
/*.btn.disabled,*/
/*.btn-default.disabled,*/
/*.btn[disabled],*/
/*.btn-default[disabled],*/
/*fieldset[disabled] .btn,*/
/*fieldset[disabled] .btn-default,*/
/*.btn.disabled:hover,*/
/*.btn-default.disabled:hover,*/
/*.btn[disabled]:hover,*/
/*.btn-default[disabled]:hover,*/
/*fieldset[disabled] .btn:hover,*/
/*fieldset[disabled] .btn-default:hover,*/
/*.btn.disabled:focus,*/
/*.btn-default.disabled:focus,*/
/*.btn[disabled]:focus,*/
/*.btn-default[disabled]:focus,*/
/*fieldset[disabled] .btn:focus,*/
/*fieldset[disabled] .btn-default:focus,*/
/*.btn.disabled:active,*/
/*.btn-default.disabled:active,*/
/*.btn[disabled]:active,*/
/*.btn-default[disabled]:active,*/
/*fieldset[disabled] .btn:active,*/
/*fieldset[disabled] .btn-default:active,*/
/*.btn.disabled.active,*/
/*.btn-default.disabled.active,*/
/*.btn[disabled].active,*/
/*.btn-default[disabled].active,*/
/*fieldset[disabled] .btn.active,*/
/*fieldset[disabled] .btn-default.active {*/
    /*background-color: #abbac3 !important;*/
    /*border-color: #abbac3;*/
/*}*/
.btn-primary,
.btn-primary:focus {
    background-color: #428bca !important;
    border-color: #428bca;
}
.btn-primary:hover,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    background-color: #1b6aaa !important;
    border-color: #428bca;
}
.btn-primary.no-border:hover,
.btn-primary.no-border:active {
    border-color: #1b6aaa;
}
.btn-primary.no-hover:hover,
.btn-primary.no-hover:active {
    background-color: #428bca !important;
}
.btn-primary.active {
    background-color: #2f7bba !important;
    border-color: #27689d;
}
.btn-primary.no-border.active {
    background-color: #2b72ae !important;
    border-color: #2b72ae;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca !important;
    border-color: #428bca;
}
.btn-info,
.btn-info:focus {
    background-color: #6fb3e0 !important;
    border-color: #6fb3e0;
}
.btn-info:hover,
.btn-info:active,
.open > .btn-info.dropdown-toggle {
    background-color: #4f99c6 !important;
    border-color: #6fb3e0;
}
.btn-info.no-border:hover,
.btn-info.no-border:active {
    border-color: #4f99c6;
}
.btn-info.no-hover:hover,
.btn-info.no-hover:active {
    background-color: #6fb3e0 !important;
}
.btn-info.active {
    background-color: #5fa6d3 !important;
    border-color: #4396cb;
}
.btn-info.no-border.active {
    background-color: #539fd0 !important;
    border-color: #539fd0;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #6fb3e0 !important;
    border-color: #6fb3e0;
}
.btn-info2,
.btn-info2:focus {
    background-color: #95c6e5 !important;
    border-color: #95c6e5;
}
.btn-info2:hover,
.btn-info2:active,
.open > .btn-info2.dropdown-toggle {
    background-color: #67a6ce !important;
    border-color: #95c6e5;
}
.btn-info2.no-border:hover,
.btn-info2.no-border:active {
    border-color: #67a6ce;
}
.btn-info2.no-hover:hover,
.btn-info2.no-hover:active {
    background-color: #95c6e5 !important;
}
.btn-info2.active {
    background-color: #7eb6da !important;
    border-color: #62a6d1;
}
.btn-info2.no-border.active {
    background-color: #72afd6 !important;
    border-color: #72afd6;
}
.btn-info2.disabled,
.btn-info2[disabled],
fieldset[disabled] .btn-info2,
.btn-info2.disabled:hover,
.btn-info2[disabled]:hover,
fieldset[disabled] .btn-info2:hover,
.btn-info2.disabled:focus,
.btn-info2[disabled]:focus,
fieldset[disabled] .btn-info2:focus,
.btn-info2.disabled:active,
.btn-info2[disabled]:active,
fieldset[disabled] .btn-info2:active,
.btn-info2.disabled.active,
.btn-info2[disabled].active,
fieldset[disabled] .btn-info2.active {
    background-color: #95c6e5 !important;
    border-color: #95c6e5;
}
.btn-success,
.btn-success:focus {
    background-color: #87b87f !important;
    border-color: #87b87f;
}
.btn-success:hover,
.btn-success:active,
.open > .btn-success.dropdown-toggle {
    background-color: #629b58 !important;
    border-color: #87b87f;
}
.btn-success.no-border:hover,
.btn-success.no-border:active {
    border-color: #629b58;
}
.btn-success.no-hover:hover,
.btn-success.no-hover:active {
    background-color: #87b87f !important;
}
.btn-success.active {
    background-color: #75aa6c !important;
    border-color: #629959;
}
.btn-success.no-border.active {
    background-color: #6ba462 !important;
    border-color: #6ba462;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #87b87f !important;
    border-color: #87b87f;
}
.btn-warning,
.btn-warning:focus {
    background-color: #ffb752 !important;
    border-color: #ffb752;
}
.btn-warning:hover,
.btn-warning:active,
.open > .btn-warning.dropdown-toggle {
    background-color: #e59729 !important;
    border-color: #ffb752;
}
.btn-warning.no-border:hover,
.btn-warning.no-border:active {
    border-color: #e59729;
}
.btn-warning.no-hover:hover,
.btn-warning.no-hover:active {
    background-color: #ffb752 !important;
}
.btn-warning.active {
    background-color: #f2a73e !important;
    border-color: #f0981c;
}
.btn-warning.no-border.active {
    background-color: #f1a02f !important;
    border-color: #f1a02f;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ffb752 !important;
    border-color: #ffb752;
}
.btn-danger,
.btn-danger:focus {
    background-color: #d15b47 !important;
    border-color: #d15b47;
}
.btn-danger:hover,
.btn-danger:active,
.open > .btn-danger.dropdown-toggle {
    background-color: #b74635 !important;
    border-color: #d15b47;
}
.btn-danger.no-border:hover,
.btn-danger.no-border:active {
    border-color: #b74635;
}
.btn-danger.no-hover:hover,
.btn-danger.no-hover:active {
    background-color: #d15b47 !important;
}
.btn-danger.active {
    background-color: #c4513e !important;
    border-color: #aa4434;
}
.btn-danger.no-border.active {
    background-color: #ba4b39 !important;
    border-color: #ba4b39;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d15b47 !important;
    border-color: #d15b47;
}
.btn-inverse,
.btn-inverse:focus {
    background-color: #555555 !important;
    border-color: #555555;
}
.btn-inverse:hover,
.btn-inverse:active,
.open > .btn-inverse.dropdown-toggle {
    background-color: #303030 !important;
    border-color: #555555;
}
.btn-inverse.no-border:hover,
.btn-inverse.no-border:active {
    border-color: #303030;
}
.btn-inverse.no-hover:hover,
.btn-inverse.no-hover:active {
    background-color: #555555 !important;
}
.btn-inverse.active {
    background-color: #434343 !important;
    border-color: #313131;
}
.btn-inverse.no-border.active {
    background-color: #3b3b3b !important;
    border-color: #3b3b3b;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
    background-color: #555555 !important;
    border-color: #555555;
}
.btn-pink,
.btn-pink:focus {
    background-color: #d6487e !important;
    border-color: #d6487e;
}
.btn-pink:hover,
.btn-pink:active,
.open > .btn-pink.dropdown-toggle {
    background-color: #b73766 !important;
    border-color: #d6487e;
}
.btn-pink.no-border:hover,
.btn-pink.no-border:active {
    border-color: #b73766;
}
.btn-pink.no-hover:hover,
.btn-pink.no-hover:active {
    background-color: #d6487e !important;
}
.btn-pink.active {
    background-color: #c74072 !important;
    border-color: #af3462;
}
.btn-pink.no-border.active {
    background-color: #be386a !important;
    border-color: #be386a;
}
.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
    background-color: #d6487e !important;
    border-color: #d6487e;
}
.btn-purple,
.btn-purple:focus {
    background-color: #9585bf !important;
    border-color: #9585bf;
}
.btn-purple:hover,
.btn-purple:active,
.open > .btn-purple.dropdown-toggle {
    background-color: #7461aa !important;
    border-color: #9585bf;
}
.btn-purple.no-border:hover,
.btn-purple.no-border:active {
    border-color: #7461aa;
}
.btn-purple.no-hover:hover,
.btn-purple.no-hover:active {
    background-color: #9585bf !important;
}
.btn-purple.active {
    background-color: #8573b5 !important;
    border-color: #705ca8;
}
.btn-purple.no-border.active {
    background-color: #7c69af !important;
    border-color: #7c69af;
}
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
    background-color: #9585bf !important;
    border-color: #9585bf;
}
.btn-grey,
.btn-grey:focus {
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0;
}
.btn-grey:hover,
.btn-grey:active,
.open > .btn-grey.dropdown-toggle {
    background-color: #888888 !important;
    border-color: #a0a0a0;
}
.btn-grey.no-border:hover,
.btn-grey.no-border:active {
    border-color: #888888;
}
.btn-grey.no-hover:hover,
.btn-grey.no-hover:active {
    background-color: #a0a0a0 !important;
}
.btn-grey.active {
    background-color: #949494 !important;
    border-color: #828282;
}
.btn-grey.no-border.active {
    background-color: #8c8c8c !important;
    border-color: #8c8c8c;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0;
}
.btn-yellow {
    color: #996633 !important;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) !important;
}
.btn-yellow,
.btn-yellow:focus {
    background-color: #fee188 !important;
    border-color: #fee188;
}
.btn-yellow:hover,
.btn-yellow:active,
.open > .btn-yellow.dropdown-toggle {
    background-color: #f7d05b !important;
    border-color: #fee188;
}
.btn-yellow.no-border:hover,
.btn-yellow.no-border:active {
    border-color: #f7d05b;
}
.btn-yellow.no-hover:hover,
.btn-yellow.no-hover:active {
    background-color: #fee188 !important;
}
.btn-yellow.active {
    background-color: #fbd972 !important;
    border-color: #f9cf4f;
}
.btn-yellow.no-border.active {
    background-color: #fad463 !important;
    border-color: #fad463;
}
.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
    background-color: #fee188 !important;
    border-color: #fee188;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow.focus,
.open > .btn-yellow.dropdown-toggle,
.btn-yellow.active,
.open > .btn-yellow.active.dropdown-toggle {
    color: #996633;
}
.btn-default {
    color: #888888 !important;
    text-shadow: 0 -1px 0 rgba(250, 250, 250, 0.25) !important;
}
.btn-default,
.btn-default:focus {
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7;
}
.btn-default:hover,
.btn-default:active,
.open > .btn-default.dropdown-toggle {
    background-color: #d9d9d9 !important;
    border-color: #e7e7e7;
}
.btn-default.no-border:hover,
.btn-default.no-border:active {
    border-color: #d9d9d9;
}
.btn-default.no-hover:hover,
.btn-default.no-hover:active {
    background-color: #e7e7e7 !important;
}
.btn-default.active {
    background-color: #e0e0e0 !important;
    border-color: #cecece;
}
.btn-default.no-border.active {
    background-color: #d8d8d8 !important;
    border-color: #d8d8d8;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.open > .btn-default.dropdown-toggle,
.btn-default.active,
.open > .btn-default.active.dropdown-toggle {
    color: #888888;
}
.btn-default.btn-xs:after,
.btn-default.btn-mini:after {
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
}
.btn-default.btn-sm:after {
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
}
.btn-default .btn-lg:after {
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
}
.btn.btn-white {
    text-shadow: none !important;
    background-color: #FFF !important;
}
.btn.btn-white.no-hover:hover,
.btn.btn-white.no-hover:active {
    background-color: #FFF !important;
}
.btn.btn-white:focus,
.btn.btn-white.active {
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}
.btn.btn-white:focus.btn-bold,
.btn.btn-white.active.btn-bold {
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn.btn-white.active:after {
    display: none;
}
.btn.btn-white {
    border-color: #cccccc;
    color: #444444 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active,
.open > .btn.btn-white.dropdown-toggle,
.open > .btn.btn-white.active.dropdown-toggle {
    background-color: #ebebeb !important;
    border-color: #cccccc;
    color: #3a3434 !important;
}
.btn.btn-white:hover.no-border,
.btn.btn-white:focus.no-border,
.btn.btn-white.active.no-border,
.btn.btn-white:active.no-border,
.open > .btn.btn-white.dropdown-toggle.no-border,
.open > .btn.btn-white.active.dropdown-toggle.no-border {
    border-color: #cccccc;
}
.btn.btn-white.disabled,
.btn.btn-white[disabled],
fieldset[disabled] .btn.btn-white,
.btn.btn-white.disabled:hover,
.btn.btn-white[disabled]:hover,
fieldset[disabled] .btn.btn-white:hover,
.btn.btn-white.disabled:focus,
.btn.btn-white[disabled]:focus,
fieldset[disabled] .btn.btn-white:focus,
.btn.btn-white.disabled:active,
.btn.btn-white[disabled]:active,
fieldset[disabled] .btn.btn-white:active,
.btn.btn-white.disabled.active,
.btn.btn-white[disabled].active,
fieldset[disabled] .btn.btn-white.active {
    border-color: #cccccc;
}
.btn-white.btn-default {
    border-color: #abbac3;
    color: #80909a !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-default:hover,
.btn-white.btn-default:focus,
.btn-white.btn-default.active,
.btn-white.btn-default:active,
.open > .btn-white.btn-default.dropdown-toggle,
.open > .btn-white.btn-default.active.dropdown-toggle {
    background-color: #eff2f4 !important;
    border-color: #abbac3;
    color: #6b8595 !important;
}
.btn-white.btn-default:hover.no-border,
.btn-white.btn-default:focus.no-border,
.btn-white.btn-default.active.no-border,
.btn-white.btn-default:active.no-border,
.open > .btn-white.btn-default.dropdown-toggle.no-border,
.open > .btn-white.btn-default.active.dropdown-toggle.no-border {
    border-color: #abbac3;
}
.btn-white.btn-default.disabled,
.btn-white.btn-default[disabled],
fieldset[disabled] .btn-white.btn-default,
.btn-white.btn-default.disabled:hover,
.btn-white.btn-default[disabled]:hover,
fieldset[disabled] .btn-white.btn-default:hover,
.btn-white.btn-default.disabled:focus,
.btn-white.btn-default[disabled]:focus,
fieldset[disabled] .btn-white.btn-default:focus,
.btn-white.btn-default.disabled:active,
.btn-white.btn-default[disabled]:active,
fieldset[disabled] .btn-white.btn-default:active,
.btn-white.btn-default.disabled.active,
.btn-white.btn-default[disabled].active,
fieldset[disabled] .btn-white.btn-default.active {
    border-color: #abbac3;
}
.btn-white.btn-primary {
    border-color: #8aafce;
    color: #6688a6 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-primary:hover,
.btn-white.btn-primary:focus,
.btn-white.btn-primary.active,
.btn-white.btn-primary:active,
.open > .btn-white.btn-primary.dropdown-toggle,
.open > .btn-white.btn-primary.active.dropdown-toggle {
    background-color: #eaf2f8 !important;
    border-color: #8aafce;
    color: #537c9f !important;
}
.btn-white.btn-primary:hover.no-border,
.btn-white.btn-primary:focus.no-border,
.btn-white.btn-primary.active.no-border,
.btn-white.btn-primary:active.no-border,
.open > .btn-white.btn-primary.dropdown-toggle.no-border,
.open > .btn-white.btn-primary.active.dropdown-toggle.no-border {
    border-color: #8aafce;
}
.btn-white.btn-primary.disabled,
.btn-white.btn-primary[disabled],
fieldset[disabled] .btn-white.btn-primary,
.btn-white.btn-primary.disabled:hover,
.btn-white.btn-primary[disabled]:hover,
fieldset[disabled] .btn-white.btn-primary:hover,
.btn-white.btn-primary.disabled:focus,
.btn-white.btn-primary[disabled]:focus,
fieldset[disabled] .btn-white.btn-primary:focus,
.btn-white.btn-primary.disabled:active,
.btn-white.btn-primary[disabled]:active,
fieldset[disabled] .btn-white.btn-primary:active,
.btn-white.btn-primary.disabled.active,
.btn-white.btn-primary[disabled].active,
fieldset[disabled] .btn-white.btn-primary.active {
    border-color: #8aafce;
}
.btn-white.btn-success {
    border-color: #a7c9a1;
    color: #81a87b !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-success:hover,
.btn-white.btn-success:focus,
.btn-white.btn-success.active,
.btn-white.btn-success:active,
.open > .btn-white.btn-success.dropdown-toggle,
.open > .btn-white.btn-success.active.dropdown-toggle {
    background-color: #edf4eb !important;
    border-color: #a7c9a1;
    color: #6ea465 !important;
}
.btn-white.btn-success:hover.no-border,
.btn-white.btn-success:focus.no-border,
.btn-white.btn-success.active.no-border,
.btn-white.btn-success:active.no-border,
.open > .btn-white.btn-success.dropdown-toggle.no-border,
.open > .btn-white.btn-success.active.dropdown-toggle.no-border {
    border-color: #a7c9a1;
}
.btn-white.btn-success.disabled,
.btn-white.btn-success[disabled],
fieldset[disabled] .btn-white.btn-success,
.btn-white.btn-success.disabled:hover,
.btn-white.btn-success[disabled]:hover,
fieldset[disabled] .btn-white.btn-success:hover,
.btn-white.btn-success.disabled:focus,
.btn-white.btn-success[disabled]:focus,
fieldset[disabled] .btn-white.btn-success:focus,
.btn-white.btn-success.disabled:active,
.btn-white.btn-success[disabled]:active,
fieldset[disabled] .btn-white.btn-success:active,
.btn-white.btn-success.disabled.active,
.btn-white.btn-success[disabled].active,
fieldset[disabled] .btn-white.btn-success.active {
    border-color: #a7c9a1;
}
.btn-white.btn-danger {
    border-color: #d7a59d;
    color: #b7837a !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-danger:hover,
.btn-white.btn-danger:focus,
.btn-white.btn-danger.active,
.btn-white.btn-danger:active,
.open > .btn-white.btn-danger.dropdown-toggle,
.open > .btn-white.btn-danger.active.dropdown-toggle {
    background-color: #fbf4f3 !important;
    border-color: #d7a59d;
    color: #b46f64 !important;
}
.btn-white.btn-danger:hover.no-border,
.btn-white.btn-danger:focus.no-border,
.btn-white.btn-danger.active.no-border,
.btn-white.btn-danger:active.no-border,
.open > .btn-white.btn-danger.dropdown-toggle.no-border,
.open > .btn-white.btn-danger.active.dropdown-toggle.no-border {
    border-color: #d7a59d;
}
.btn-white.btn-danger.disabled,
.btn-white.btn-danger[disabled],
fieldset[disabled] .btn-white.btn-danger,
.btn-white.btn-danger.disabled:hover,
.btn-white.btn-danger[disabled]:hover,
fieldset[disabled] .btn-white.btn-danger:hover,
.btn-white.btn-danger.disabled:focus,
.btn-white.btn-danger[disabled]:focus,
fieldset[disabled] .btn-white.btn-danger:focus,
.btn-white.btn-danger.disabled:active,
.btn-white.btn-danger[disabled]:active,
fieldset[disabled] .btn-white.btn-danger:active,
.btn-white.btn-danger.disabled.active,
.btn-white.btn-danger[disabled].active,
fieldset[disabled] .btn-white.btn-danger.active {
    border-color: #d7a59d;
}
.btn-white.btn-warning {
    border-color: #e7b979;
    color: #daa458 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-warning:hover,
.btn-white.btn-warning:focus,
.btn-white.btn-warning.active,
.btn-white.btn-warning:active,
.open > .btn-white.btn-warning.dropdown-toggle,
.open > .btn-white.btn-warning.active.dropdown-toggle {
    background-color: #fef7ec !important;
    border-color: #e7b979;
    color: #db9a3d !important;
}
.btn-white.btn-warning:hover.no-border,
.btn-white.btn-warning:focus.no-border,
.btn-white.btn-warning.active.no-border,
.btn-white.btn-warning:active.no-border,
.open > .btn-white.btn-warning.dropdown-toggle.no-border,
.open > .btn-white.btn-warning.active.dropdown-toggle.no-border {
    border-color: #e7b979;
}
.btn-white.btn-warning.disabled,
.btn-white.btn-warning[disabled],
fieldset[disabled] .btn-white.btn-warning,
.btn-white.btn-warning.disabled:hover,
.btn-white.btn-warning[disabled]:hover,
fieldset[disabled] .btn-white.btn-warning:hover,
.btn-white.btn-warning.disabled:focus,
.btn-white.btn-warning[disabled]:focus,
fieldset[disabled] .btn-white.btn-warning:focus,
.btn-white.btn-warning.disabled:active,
.btn-white.btn-warning[disabled]:active,
fieldset[disabled] .btn-white.btn-warning:active,
.btn-white.btn-warning.disabled.active,
.btn-white.btn-warning[disabled].active,
fieldset[disabled] .btn-white.btn-warning.active {
    border-color: #e7b979;
}
.btn-white.btn-info {
    border-color: #8fbcd9;
    color: #70a0c1 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-info:hover,
.btn-white.btn-info:focus,
.btn-white.btn-info.active,
.btn-white.btn-info:active,
.open > .btn-white.btn-info.dropdown-toggle,
.open > .btn-white.btn-info.active.dropdown-toggle {
    background-color: #eef5fa !important;
    border-color: #8fbcd9;
    color: #5896bf !important;
}
.btn-white.btn-info:hover.no-border,
.btn-white.btn-info:focus.no-border,
.btn-white.btn-info.active.no-border,
.btn-white.btn-info:active.no-border,
.open > .btn-white.btn-info.dropdown-toggle.no-border,
.open > .btn-white.btn-info.active.dropdown-toggle.no-border {
    border-color: #8fbcd9;
}
.btn-white.btn-info.disabled,
.btn-white.btn-info[disabled],
fieldset[disabled] .btn-white.btn-info,
.btn-white.btn-info.disabled:hover,
.btn-white.btn-info[disabled]:hover,
fieldset[disabled] .btn-white.btn-info:hover,
.btn-white.btn-info.disabled:focus,
.btn-white.btn-info[disabled]:focus,
fieldset[disabled] .btn-white.btn-info:focus,
.btn-white.btn-info.disabled:active,
.btn-white.btn-info[disabled]:active,
fieldset[disabled] .btn-white.btn-info:active,
.btn-white.btn-info.disabled.active,
.btn-white.btn-info[disabled].active,
fieldset[disabled] .btn-white.btn-info.active {
    border-color: #8fbcd9;
}
.btn-white.btn-inverse {
    border-color: #959595;
    color: #555555 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-inverse:hover,
.btn-white.btn-inverse:focus,
.btn-white.btn-inverse.active,
.btn-white.btn-inverse:active,
.open > .btn-white.btn-inverse.dropdown-toggle,
.open > .btn-white.btn-inverse.active.dropdown-toggle {
    background-color: #e4e4e4 !important;
    border-color: #959595;
    color: #4c4545 !important;
}
.btn-white.btn-inverse:hover.no-border,
.btn-white.btn-inverse:focus.no-border,
.btn-white.btn-inverse.active.no-border,
.btn-white.btn-inverse:active.no-border,
.open > .btn-white.btn-inverse.dropdown-toggle.no-border,
.open > .btn-white.btn-inverse.active.dropdown-toggle.no-border {
    border-color: #959595;
}
.btn-white.btn-inverse.disabled,
.btn-white.btn-inverse[disabled],
fieldset[disabled] .btn-white.btn-inverse,
.btn-white.btn-inverse.disabled:hover,
.btn-white.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-white.btn-inverse:hover,
.btn-white.btn-inverse.disabled:focus,
.btn-white.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-white.btn-inverse:focus,
.btn-white.btn-inverse.disabled:active,
.btn-white.btn-inverse[disabled]:active,
fieldset[disabled] .btn-white.btn-inverse:active,
.btn-white.btn-inverse.disabled.active,
.btn-white.btn-inverse[disabled].active,
fieldset[disabled] .btn-white.btn-inverse.active {
    border-color: #959595;
}
.btn-white.btn-pink {
    border-color: #d299ae;
    color: #af6f87 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-pink:hover,
.btn-white.btn-pink:focus,
.btn-white.btn-pink.active,
.btn-white.btn-pink:active,
.open > .btn-white.btn-pink.dropdown-toggle,
.open > .btn-white.btn-pink.active.dropdown-toggle {
    background-color: #fbeff4 !important;
    border-color: #d299ae;
    color: #ac5978 !important;
}
.btn-white.btn-pink:hover.no-border,
.btn-white.btn-pink:focus.no-border,
.btn-white.btn-pink.active.no-border,
.btn-white.btn-pink:active.no-border,
.open > .btn-white.btn-pink.dropdown-toggle.no-border,
.open > .btn-white.btn-pink.active.dropdown-toggle.no-border {
    border-color: #d299ae;
}
.btn-white.btn-pink.disabled,
.btn-white.btn-pink[disabled],
fieldset[disabled] .btn-white.btn-pink,
.btn-white.btn-pink.disabled:hover,
.btn-white.btn-pink[disabled]:hover,
fieldset[disabled] .btn-white.btn-pink:hover,
.btn-white.btn-pink.disabled:focus,
.btn-white.btn-pink[disabled]:focus,
fieldset[disabled] .btn-white.btn-pink:focus,
.btn-white.btn-pink.disabled:active,
.btn-white.btn-pink[disabled]:active,
fieldset[disabled] .btn-white.btn-pink:active,
.btn-white.btn-pink.disabled.active,
.btn-white.btn-pink[disabled].active,
fieldset[disabled] .btn-white.btn-pink.active {
    border-color: #d299ae;
}
.btn-white.btn-purple {
    border-color: #b7b1c6;
    color: #7d6fa2 !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-purple:hover,
.btn-white.btn-purple:focus,
.btn-white.btn-purple.active,
.btn-white.btn-purple:active,
.open > .btn-white.btn-purple.dropdown-toggle,
.open > .btn-white.btn-purple.active.dropdown-toggle {
    background-color: #efedf5 !important;
    border-color: #b7b1c6;
    color: #6d5b9c !important;
}
.btn-white.btn-purple:hover.no-border,
.btn-white.btn-purple:focus.no-border,
.btn-white.btn-purple.active.no-border,
.btn-white.btn-purple:active.no-border,
.open > .btn-white.btn-purple.dropdown-toggle.no-border,
.open > .btn-white.btn-purple.active.dropdown-toggle.no-border {
    border-color: #b7b1c6;
}
.btn-white.btn-purple.disabled,
.btn-white.btn-purple[disabled],
fieldset[disabled] .btn-white.btn-purple,
.btn-white.btn-purple.disabled:hover,
.btn-white.btn-purple[disabled]:hover,
fieldset[disabled] .btn-white.btn-purple:hover,
.btn-white.btn-purple.disabled:focus,
.btn-white.btn-purple[disabled]:focus,
fieldset[disabled] .btn-white.btn-purple:focus,
.btn-white.btn-purple.disabled:active,
.btn-white.btn-purple[disabled]:active,
fieldset[disabled] .btn-white.btn-purple:active,
.btn-white.btn-purple.disabled.active,
.btn-white.btn-purple[disabled].active,
fieldset[disabled] .btn-white.btn-purple.active {
    border-color: #b7b1c6;
}
.btn-white.btn-yellow {
    border-color: #ecd181;
    color: #d3a61a !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-yellow:hover,
.btn-white.btn-yellow:focus,
.btn-white.btn-yellow.active,
.btn-white.btn-yellow:active,
.open > .btn-white.btn-yellow.dropdown-toggle,
.open > .btn-white.btn-yellow.active.dropdown-toggle {
    background-color: #fdf7e4 !important;
    border-color: #ecd181;
    color: #c29712 !important;
}
.btn-white.btn-yellow:hover.no-border,
.btn-white.btn-yellow:focus.no-border,
.btn-white.btn-yellow.active.no-border,
.btn-white.btn-yellow:active.no-border,
.open > .btn-white.btn-yellow.dropdown-toggle.no-border,
.open > .btn-white.btn-yellow.active.dropdown-toggle.no-border {
    border-color: #ecd181;
}
.btn-white.btn-yellow.disabled,
.btn-white.btn-yellow[disabled],
fieldset[disabled] .btn-white.btn-yellow,
.btn-white.btn-yellow.disabled:hover,
.btn-white.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-white.btn-yellow:hover,
.btn-white.btn-yellow.disabled:focus,
.btn-white.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-white.btn-yellow:focus,
.btn-white.btn-yellow.disabled:active,
.btn-white.btn-yellow[disabled]:active,
fieldset[disabled] .btn-white.btn-yellow:active,
.btn-white.btn-yellow.disabled.active,
.btn-white.btn-yellow[disabled].active,
fieldset[disabled] .btn-white.btn-yellow.active {
    border-color: #ecd181;
}
.btn-white.btn-grey {
    border-color: #c6c6c6;
    color: #8c8c8c !important;
    /**
   //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
      //color: saturate(darken(@txt-color , 5%) , 5%) !important;
   //}
   //&.no-border:hover , &.no-border:active {
      //border-color: @border-color;
   //}
   */
}
.btn-white.btn-grey:hover,
.btn-white.btn-grey:focus,
.btn-white.btn-grey.active,
.btn-white.btn-grey:active,
.open > .btn-white.btn-grey.dropdown-toggle,
.open > .btn-white.btn-grey.active.dropdown-toggle {
    background-color: #ededed !important;
    border-color: #c6c6c6;
    color: #857979 !important;
}
.btn-white.btn-grey:hover.no-border,
.btn-white.btn-grey:focus.no-border,
.btn-white.btn-grey.active.no-border,
.btn-white.btn-grey:active.no-border,
.open > .btn-white.btn-grey.dropdown-toggle.no-border,
.open > .btn-white.btn-grey.active.dropdown-toggle.no-border {
    border-color: #c6c6c6;
}
.btn-white.btn-grey.disabled,
.btn-white.btn-grey[disabled],
fieldset[disabled] .btn-white.btn-grey,
.btn-white.btn-grey.disabled:hover,
.btn-white.btn-grey[disabled]:hover,
fieldset[disabled] .btn-white.btn-grey:hover,
.btn-white.btn-grey.disabled:focus,
.btn-white.btn-grey[disabled]:focus,
fieldset[disabled] .btn-white.btn-grey:focus,
.btn-white.btn-grey.disabled:active,
.btn-white.btn-grey[disabled]:active,
fieldset[disabled] .btn-white.btn-grey:active,
.btn-white.btn-grey.disabled.active,
.btn-white.btn-grey[disabled].active,
fieldset[disabled] .btn-white.btn-grey.active {
    border-color: #c6c6c6;
}
.btn.disabled.active,
.btn[disabled].active,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
    outline: none;
}
.btn.disabled:active,
.btn[disabled]:active {
    top: 0;
    left: 0;
}
.btn.active:after {
    display: inline-block;
    content: "";
    position: absolute;
    border-bottom: 1px solid #efe5b5;
    left: -4px;
    right: -4px;
    bottom: -4px;
}
.btn.active.btn-sm:after {
    left: -3px;
    right: -3px;
    bottom: -3px;
}
.btn.active.btn-lg:after {
    left: -5px;
    right: -5px;
    bottom: -5px;
}
.btn.active.btn-xs:after,
.btn.active.btn-mini:after,
.btn.active.btn-minier:after {
    left: -1px;
    right: -1px;
    bottom: -2px;
}
.btn.active.btn-minier:after {
    bottom: -1px;
}
.btn.active.btn-yellow:after {
    border-bottom-color: #c96338;
}
.btn.active.btn-default {
    color: #515151;
}
.btn.active.btn-default:after {
    border-bottom-color: #B5B5B5;
}
.btn > .ace-icon {
    margin-right: 4px;
}
.btn > .ace-icon.icon-on-right {
    margin-right: 0;
    margin-left: 4px;
}
.btn > .icon-only.ace-icon {
    margin: 0 !important;
    text-align: center;
    padding: 0;
}
.btn-lg > .ace-icon {
    margin-right: 6px;
}
.btn-lg > .ace-icon.icon-on-right {
    margin-right: 0;
    margin-left: 6px;
}
.btn-sm > .ace-icon {
    margin-right: 3px;
}
.btn-sm > .ace-icon.icon-on-right {
    margin-right: 0;
    margin-left: 3px;
}
.btn-xs > .ace-icon,
.btn-mini > .ace-icon,
.btn-minier > .ace-icon {
    margin-right: 2px;
}
.btn-xs > .ace-icon.icon-on-right,
.btn-mini > .ace-icon.icon-on-right,
.btn-minier > .ace-icon.icon-on-right {
    margin-right: 0;
    margin-left: 2px;
}
.btn.btn-link {
    border-width: 0 !important;
    background: transparent none !important;
    color: #0088cc !important;
    text-shadow: none !important;
    padding: 4px 12px !important;
    line-height: 20px !important;
}
.btn.btn-link:hover {
    background: none !important;
    text-shadow: none !important;
}
.btn.btn-link.active {
    background: none !important;
    text-decoration: underline;
    color: #009ceb !important;
}
.btn.btn-link.active:after {
    display: none;
}
.btn.btn-link.disabled,
.btn.btn-link[disabled] {
    background: transparent none !important;
    opacity: 0.65;
    filter: alpha(opacity=65);
    text-decoration: none !important;
}
.btn.btn-no-border {
    border-width: 0 !important;
}
.btn-group:first-child {
    margin-left: 0;
}
.btn-group > .btn,
.btn-group > .btn + .btn {
    margin: 0 1px 0 0;
}
.btn-group > .btn:first-child {
    margin: 0 1px 0 0;
}
.btn-group > .btn > .caret {
    margin-top: 15px;
    margin-left: 1px;
    border-width: 5px;
    border-top-color: #FFF;
}
.btn-group > .btn.btn-sm > .caret {
    margin-top: 10px;
    border-width: 4px;
}
.btn-group > .btn.btn-lg > .caret {
    margin-top: 18px;
    border-width: 6px;
}
.btn-group > .btn.btn-xs > .caret,
.btn-group > .btn.btn-mini > .caret {
    margin-top: 9px;
    border-width: 4px;
}
.btn-group > .btn.btn-minier > .caret {
    margin-top: 7px;
    border-width: 3px;
}
.btn-group > .btn + .btn.dropdown-toggle {
    padding-right: 3px;
    padding-left: 3px;
}
.btn-group > .btn + .btn-lg.dropdown-toggle {
    padding-right: 4px;
    padding-left: 4px;
}
.btn-group .dropdown-toggle {
    border-radius: 0;
}
.btn-group > .btn,
.btn-group + .btn {
    margin: 0 1px 0 0;
    border-width: 3px;
    /* the border under an active button in button groups */
}
.btn-group > .btn.active:after,
.btn-group + .btn.active:after {
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-bottom-width: 1px;
}
.btn-group > .btn-lg,
.btn-group + .btn-lg {
    border-width: 4px;
    /* the border under an active button in button groups */
}
.btn-group > .btn-lg.active:after,
.btn-group + .btn-lg.active:after {
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-bottom-width: 1px;
}
.btn-group > .btn-sm,
.btn-group + .btn-sm {
    border-width: 2px;
    /* the border under an active button in button groups */
}
.btn-group > .btn-sm.active:after,
.btn-group + .btn-sm.active:after {
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-bottom-width: 1px;
}
.btn-group > .btn-xs,
.btn-group + .btn-xs,
.btn-group > .btn-mini,
.btn-group + .btn-mini {
    border-width: 1px;
    /* the border under an active button in button groups */
}
.btn-group > .btn-xs.active:after,
.btn-group + .btn-xs.active:after,
.btn-group > .btn-mini.active:after,
.btn-group + .btn-mini.active:after {
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom-width: 1px;
}
.btn-group > .btn-minier,
.btn-group + .btn-minier {
    border-width: 1px;
    /* the border under an active button in button groups */
}
.btn-group > .btn-minier.active:after,
.btn-group + .btn-minier.active:after {
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom-width: 1px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-radius: 0;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn + .btn {
    margin: 1px 0 0;
}
.btn-group-vertical > .btn:first-child {
    margin-top: 0;
}
.btn-group.btn-overlap > .btn {
    margin-right: -1px;
}
.btn-group.btn-corner > .btn:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.btn-group.btn-corner > .btn:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.btn-group.btn-corner > .btn.btn-sm:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.btn-group.btn-corner > .btn.btn-sm:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.btn-group.btn-corner > .btn.btn-xs:first-child,
.btn-group.btn-corner > .btn.btn-mini:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.btn-group.btn-corner > .btn.btn-xs:last-child,
.btn-group.btn-corner > .btn.btn-mini:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.btn.btn-white {
    border-width: 1px;
}
.btn.btn-bold {
    border-bottom-width: 2px;
}
.btn.btn-round {
    border-bottom-width: 2px;
    border-radius: 4px !important;
}
.btn.btn-app {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 12px;
    padding: 12px 0 8px;
    margin: 2px;
    line-height: 1.7;
    position: relative;
}
.btn-app,
.btn-app.btn-default,
.btn-app.no-hover:hover,
.btn-app.btn-default.no-hover:hover,
.btn-app.disabled:hover,
.btn-app.btn-default.disabled:hover {
    background: #b4c2cc !important;
    background-image: -webkit-linear-gradient(top, #bcc9d5 0%, #abbac3 100%) !important;
    background-image: -o-linear-gradient(top, #bcc9d5 0%, #abbac3 100%) !important;
    background-image: linear-gradient(to bottom, #bcc9d5 0%, #abbac3 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcc9d5', endColorstr='#ffabbac3', GradientType=0) !important;
}
.btn-app:hover,
.btn-app.btn-default:hover {
    background: #9baebc !important;
    background-image: -webkit-linear-gradient(top, #a3b5c5 0%, #93a6b2 100%) !important;
    background-image: -o-linear-gradient(top, #a3b5c5 0%, #93a6b2 100%) !important;
    background-image: linear-gradient(to bottom, #a3b5c5 0%, #93a6b2 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3b5c5', endColorstr='#ff93a6b2', GradientType=0) !important;
}
.btn-app.btn-primary,
.btn-app.btn-primary.no-hover:hover,
.btn-app.btn-primary.disabled:hover {
    background: #2a8bcb !important;
    background-image: -webkit-linear-gradient(top, #3b98d6 0%, #197ec1 100%) !important;
    background-image: -o-linear-gradient(top, #3b98d6 0%, #197ec1 100%) !important;
    background-image: linear-gradient(to bottom, #3b98d6 0%, #197ec1 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6', endColorstr='#ff197ec1', GradientType=0) !important;
}
.btn-app.btn-primary:hover {
    background: #1d6fa6 !important;
    background-image: -webkit-linear-gradient(top, #267eb8 0%, #136194 100%) !important;
    background-image: -o-linear-gradient(top, #267eb8 0%, #136194 100%) !important;
    background-image: linear-gradient(to bottom, #267eb8 0%, #136194 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff267eb8', endColorstr='#ff136194', GradientType=0) !important;
}
.btn-app.btn-info,
.btn-app.btn-info.no-hover:hover,
.btn-app.btn-info.disabled:hover {
    background: #68adde !important;
    background-image: -webkit-linear-gradient(top, #75b5e6 0%, #5ba4d5 100%) !important;
    background-image: -o-linear-gradient(top, #75b5e6 0%, #5ba4d5 100%) !important;
    background-image: linear-gradient(to bottom, #75b5e6 0%, #5ba4d5 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75b5e6', endColorstr='#ff5ba4d5', GradientType=0) !important;
}
.btn-app.btn-info:hover {
    background: #3f96d4 !important;
    background-image: -webkit-linear-gradient(top, #4a9ede 0%, #348dc9 100%) !important;
    background-image: -o-linear-gradient(top, #4a9ede 0%, #348dc9 100%) !important;
    background-image: linear-gradient(to bottom, #4a9ede 0%, #348dc9 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4a9ede', endColorstr='#ff348dc9', GradientType=0) !important;
}
.btn-app.btn-success,
.btn-app.btn-success.no-hover:hover,
.btn-app.btn-success.disabled:hover {
    background: #85b558 !important;
    background-image: -webkit-linear-gradient(top, #8ebf60 0%, #7daa50 100%) !important;
    background-image: -o-linear-gradient(top, #8ebf60 0%, #7daa50 100%) !important;
    background-image: linear-gradient(to bottom, #8ebf60 0%, #7daa50 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60', endColorstr='#ff7daa50', GradientType=0) !important;
}
.btn-app.btn-success:hover {
    background: #6c9842 !important;
    background-image: -webkit-linear-gradient(top, #74a844 0%, #648740 100%) !important;
    background-image: -o-linear-gradient(top, #74a844 0%, #648740 100%) !important;
    background-image: linear-gradient(to bottom, #74a844 0%, #648740 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74a844', endColorstr='#ff648740', GradientType=0) !important;
}
.btn-app.btn-danger,
.btn-app.btn-danger.no-hover:hover,
.btn-app.btn-danger.disabled:hover {
    background: #d3413b !important;
    background-image: -webkit-linear-gradient(top, #d55b52 0%, #d12723 100%) !important;
    background-image: -o-linear-gradient(top, #d55b52 0%, #d12723 100%) !important;
    background-image: linear-gradient(to bottom, #d55b52 0%, #d12723 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52', endColorstr='#ffd12723', GradientType=0) !important;
}
.btn-app.btn-danger:hover {
    background: #b52c26 !important;
    background-image: -webkit-linear-gradient(top, #c43a30 0%, #a51f1c 100%) !important;
    background-image: -o-linear-gradient(top, #c43a30 0%, #a51f1c 100%) !important;
    background-image: linear-gradient(to bottom, #c43a30 0%, #a51f1c 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc43a30', endColorstr='#ffa51f1c', GradientType=0) !important;
}
.btn-app.btn-warning,
.btn-app.btn-warning.no-hover:hover,
.btn-app.btn-warning.disabled:hover {
    background: #ffb44b !important;
    background-image: -webkit-linear-gradient(top, #ffbf66 0%, #ffa830 100%) !important;
    background-image: -o-linear-gradient(top, #ffbf66 0%, #ffa830 100%) !important;
    background-image: linear-gradient(to bottom, #ffbf66 0%, #ffa830 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbf66', endColorstr='#ffffa830', GradientType=0) !important;
}
.btn-app.btn-warning:hover {
    background: #fe9e19 !important;
    background-image: -webkit-linear-gradient(top, #ffaa33 0%, #fc9200 100%) !important;
    background-image: -o-linear-gradient(top, #ffaa33 0%, #fc9200 100%) !important;
    background-image: linear-gradient(to bottom, #ffaa33 0%, #fc9200 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaa33', endColorstr='#fffc9200', GradientType=0) !important;
}
.btn-app.btn-purple,
.btn-app.btn-purple.no-hover:hover,
.btn-app.btn-purple.disabled:hover {
    background: #9889c1 !important;
    background-image: -webkit-linear-gradient(top, #a696ce 0%, #8a7cb4 100%) !important;
    background-image: -o-linear-gradient(top, #a696ce 0%, #8a7cb4 100%) !important;
    background-image: linear-gradient(to bottom, #a696ce 0%, #8a7cb4 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa696ce', endColorstr='#ff8a7cb4', GradientType=0) !important;
}
.btn-app.btn-purple:hover {
    background: #7b68af !important;
    background-image: -webkit-linear-gradient(top, #8973be 0%, #6d5ca1 100%) !important;
    background-image: -o-linear-gradient(top, #8973be 0%, #6d5ca1 100%) !important;
    background-image: linear-gradient(to bottom, #8973be 0%, #6d5ca1 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8973be', endColorstr='#ff6d5ca1', GradientType=0) !important;
}
.btn-app.btn-pink,
.btn-app.btn-pink.no-hover:hover,
.btn-app.btn-pink.disabled:hover {
    background: #d54c7e !important;
    background-image: -webkit-linear-gradient(top, #db5e8c 0%, #ce3970 100%) !important;
    background-image: -o-linear-gradient(top, #db5e8c 0%, #ce3970 100%) !important;
    background-image: linear-gradient(to bottom, #db5e8c 0%, #ce3970 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5e8c', endColorstr='#ffce3970', GradientType=0) !important;
}
.btn-app.btn-pink:hover {
    background: #be2f64 !important;
    background-image: -webkit-linear-gradient(top, #d2346e 0%, #aa2a59 100%) !important;
    background-image: -o-linear-gradient(top, #d2346e 0%, #aa2a59 100%) !important;
    background-image: linear-gradient(to bottom, #d2346e 0%, #aa2a59 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd2346e', endColorstr='#ffaa2a59', GradientType=0) !important;
}
.btn-app.btn-inverse,
.btn-app.btn-inverse.no-hover:hover,
.btn-app.btn-inverse.disabled:hover {
    background: #444444 !important;
    background-image: -webkit-linear-gradient(top, #555555 0%, #333333 100%) !important;
    background-image: -o-linear-gradient(top, #555555 0%, #333333 100%) !important;
    background-image: linear-gradient(to bottom, #555555 0%, #333333 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=0) !important;
}
.btn-app.btn-inverse:hover {
    background: #2b2b2b !important;
    background-image: -webkit-linear-gradient(top, #3b3b3b 0%, #1a1a1a 100%) !important;
    background-image: -o-linear-gradient(top, #3b3b3b 0%, #1a1a1a 100%) !important;
    background-image: linear-gradient(to bottom, #3b3b3b 0%, #1a1a1a 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b3b3b', endColorstr='#ff1a1a1a', GradientType=0) !important;
}
.btn-app.btn-grey,
.btn-app.btn-grey.no-hover:hover,
.btn-app.btn-grey.disabled:hover {
    background: #797979 !important;
    background-image: -webkit-linear-gradient(top, #898989 0%, #696969 100%) !important;
    background-image: -o-linear-gradient(top, #898989 0%, #696969 100%) !important;
    background-image: linear-gradient(to bottom, #898989 0%, #696969 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff898989', endColorstr='#ff696969', GradientType=0) !important;
}
.btn-app.btn-grey:hover {
    background: #6c6c6c !important;
    background-image: -webkit-linear-gradient(top, #7c7c7c 0%, #5c5c5c 100%) !important;
    background-image: -o-linear-gradient(top, #7c7c7c 0%, #5c5c5c 100%) !important;
    background-image: linear-gradient(to bottom, #7c7c7c 0%, #5c5c5c 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c7c7c', endColorstr='#ff5c5c5c', GradientType=0) !important;
}
.btn.btn-app.btn-default {
    color: #5a5a5a !important;
    text-shadow: 0 1px 1px #EEE !important;
}
.btn.btn-app.btn-default,
.btn.btn-app.btn-default.no-hover:hover,
.btn.btn-app.btn-default.disabled:hover {
    background: #ededed !important;
    background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e6e6e6 100%) !important;
    background-image: -o-linear-gradient(top, #f4f4f4 0%, #e6e6e6 100%) !important;
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #e6e6e6 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffe6e6e6', GradientType=0) !important;
}
.btn.btn-app.btn-default:hover {
    background: #e0e0e0 !important;
    background-image: -webkit-linear-gradient(top, #e7e7e7 0%, #d9d9d9 100%) !important;
    background-image: -o-linear-gradient(top, #e7e7e7 0%, #d9d9d9 100%) !important;
    background-image: linear-gradient(to bottom, #e7e7e7 0%, #d9d9d9 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffd9d9d9', GradientType=0) !important;
}
.btn.btn-app.btn-yellow {
    color: #996633 !important;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) !important;
}
.btn.btn-app.btn-yellow,
.btn.btn-app.btn-yellow.no-hover:hover,
.btn.btn-app.btn-yellow.disabled:hover {
    background: #fee088 !important;
    background-image: -webkit-linear-gradient(top, #ffe8a5 0%, #fcd76a 100%) !important;
    background-image: -o-linear-gradient(top, #ffe8a5 0%, #fcd76a 100%) !important;
    background-image: linear-gradient(to bottom, #ffe8a5 0%, #fcd76a 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe8a5', endColorstr='#fffcd76a', GradientType=0) !important;
}
.btn.btn-app.btn-yellow:hover {
    background: #fdd96e !important;
    background-image: -webkit-linear-gradient(top, #ffe18b 0%, #fbd051 100%) !important;
    background-image: -o-linear-gradient(top, #ffe18b 0%, #fbd051 100%) !important;
    background-image: linear-gradient(to bottom, #ffe18b 0%, #fbd051 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe18b', endColorstr='#fffbd051', GradientType=0) !important;
}
.btn.btn-app > .ace-icon {
    opacity: 0.88;
}
.btn.btn-app:hover > .ace-icon {
    opacity: 1;
}
.btn.btn-app.btn-sm {
    width: 80px;
    font-size: 16px;
    border-radius: 10px;
    line-height: 1.5;
}
.btn.btn-app.btn-xs {
    width: 64px;
    font-size: 15px;
    border-radius: 8px;
    padding-bottom: 7px;
    padding-top: 8px;
    line-height: 1.45;
}
.btn.btn-app > .ace-icon {
    display: block;
    font-size: 42px;
    margin: 0 0 4px;
    line-height: 36px;
    min-width: 0;
    padding: 0;
}
.btn.btn-app.btn-sm > .ace-icon {
    display: block;
    font-size: 32px;
    line-height: 30px;
    margin: 0 0 3px;
}
.btn.btn-app.btn-xs > .ace-icon {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}
.btn.btn-app.no-radius {
    border-radius: 0;
}
.btn.btn-app.radius-4 {
    border-radius: 4px;
}
.btn.btn-app > .badge,
.btn.btn-app > .label {
    position: absolute !important;
    top: -2px;
    right: -2px;
    padding: 1px 3px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
}
.btn.btn-app > .badge.badge-left,
.btn.btn-app > .label.badge-left,
.btn.btn-app > .badge.label-left,
.btn.btn-app > .label.label-left {
    right: auto;
    left: -2px;
}
.btn.btn-app > .badge-yellow,
.btn.btn-app > .label-yellow {
    color: #996633;
}
.btn.btn-app > .badge-light,
.btn.btn-app > .label-light {
    color: #888888;
}
.btn.btn-app > .label {
    padding: 1px 6px 3px;
    font-size: 13px;
}
.btn.btn-app.radius-4 > .badge,
.btn.btn-app.no-radius > .badge {
    border-radius: 3px;
}
.btn.btn-app.radius-4 > .badge.no-radius,
.btn.btn-app.no-radius > .badge.no-radius {
    border-radius: 0;
}
.btn.btn-app.active {
    color: #ffffff;
}
.btn.btn-app.active:after {
    display: none;
}
.btn.btn-app.active.btn-yellow {
    color: #996633;
    border-color: #fee188;
}
.btn.btn-app.active.btn-default {
    color: #515151;
}
.btn-group > .btn-app:first-child:not(:last-child):not(.dropdown-toggle) {
    margin-right: 24px;
}
.btn-group > .btn-app + .btn-app.dropdown-toggle {
    position: absolute;
    width: auto;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -23px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    right: 0;
}
.btn.btn-app.btn-default,
.btn.btn-app.btn-yellow {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset !important;
}
.label-inverse,
.label.label-inverse,
.badge.badge-inverse,
.badge-inverse {
    background-color: #333333;
}
.label.arrowed,
.label.arrowed-in {
    position: relative;
    z-index: 1;
}
.label.arrowed:before,
.label.arrowed-in:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-right-color: #abbac3;
    -moz-border-right-colors: #abbac3;
}
.label.arrowed-in:before {
    border-color: #abbac3;
    border-left-color: transparent;
    -moz-border-left-colors: none;
}
.label.arrowed-right,
.label.arrowed-in-right {
    position: relative;
    z-index: 1;
}
.label.arrowed-right:after,
.label.arrowed-in-right:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-left-color: #abbac3;
    -moz-border-left-colors: #abbac3;
}
.label.arrowed-in-right:after {
    border-color: #abbac3;
    border-right-color: transparent;
    -moz-border-right-colors: none;
}
.label-inverse.arrowed:before {
    border-right-color: #333333;
    -moz-border-right-colors: #333333;
}
.label-inverse.arrowed-in:before {
    border-color: #333333 #333333 #333333 transparent;
    -moz-border-right-colors: #333333;
}
.label-inverse.arrowed-right:after {
    border-left-color: #333333;
    -moz-border-left-colors: #333333;
}
.label-inverse.arrowed-in-right:after {
    border-color: #333333 transparent #333333 #333333;
    -moz-border-left-colors: #333333;
}
.label {
    font-size: 12px;
    line-height: 1.15;
    height: 20px;
}
.label.arrowed {
    margin-left: 5px;
}
.label.arrowed:before {
    left: -10px;
    border-width: 10px 5px;
}
.label.arrowed-in {
    margin-left: 5px;
}
.label.arrowed-in:before {
    left: -5px;
    border-width: 10px 5px;
}
.label.arrowed-right {
    margin-right: 5px;
}
.label.arrowed-right:after {
    right: -10px;
    border-width: 10px 5px;
}
.label.arrowed-in-right {
    margin-right: 5px;
}
.label.arrowed-in-right:after {
    right: -5px;
    border-width: 10px 5px;
}