.oms-example h1 {
  background-color: purple
}
.oms html,body,input,button,select,textarea,h1 ,h2, h3, h4, h5, h6,label{
    font-family:  Microsoft YaHei,"微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.oms @media (min-width: 768px) {
    .container {
        width: auto;
    }
}
.oms @media (min-width: 992px) {
    .container {
        width: auto;
    }
}
.oms @media (min-width: 1200px) {
    .container {
        width: auto;
    }
}
.oms svg {
    background-color: #eee;
    box-shadow: 0 1px 4px -2px #000;
    overflow: hidden;
}

.oms .pageheader {

    font-size: 24px;
    font-weight: lighter;
    color: #2679b5;
}
.oms .page-header small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #8089a0;
}
.oms .draggable { cursor: move; }
.oms .draggable .circle { fill: red; }
/*.draggable.dragging .circle, .draggable:hover .circle { fill: hsl(0,60%,50%); filter: url(#drop-shadow); }*/
.oms .draggable .shadow { fill: hsl(0,0%,0%); fill-opacity: 0.1; stroke: hsl(0,0%,0%); stroke-width: 1px; stroke-opacity: 0.05; transform: scale(1.05) translate(0,1px);}
.oms .draggable.dragging .shadow, .draggable:hover .shadow { fill: hsl(0,0%,100%); fill-opacity: 1.0; }
.oms li i {font-size: smaller}
.oms .blink {
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.oms .btn-ALLESCAPE {
    background-color: #ff6666;
    border-color: #ff6666;
}
.oms .btn-TEMPERATURE {
    background-color: #ff6666;
    border-color: #ff6666;
}
.oms .btn-ZONEESCAPE {
    background-color: #ff6666;
    border-color: #ff6666;
}
.oms .btn-BOARDESCAPE {
    background-color: #FF00FF;
    border-color: #FF00FF;
}
.oms .btn-ALARM {
    background-color: #ffaa33;
    border-color: #ffaa33;
}
.oms .btn-LALARM {
    background-color: pink;
    border-color: pink;
}
.oms .btn-ARun {
    background-color: #aaffbb;
    border-color: #aaffbb;
}
.oms .btn-AEnd {
    background-color: #77aaff;
    border-color: #77aaff;
}
.oms .btn-MRun {
    background-color: #aaffff;
    border-color: #aaffff;
}
.oms .btn-MEnd {
    background-color: #ddbbff;
    border-color: #ddbbff;
}

.oms .btn-IDLE {
    background-color: #ffffbb;
    border-color: #ffffbb;
}
.oms .btn-NoData {
    background-color: #aaaaaa;
    border-color: #aaaaaa;
}

.oms .btnn {
    font-family: 'Open Sans','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
    border-width: 0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.07);
}
.oms .btnn {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 8px;
    font-size: 13px;
    line-height: 1.46153846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
