#umtab li{
	cursor:pointer;
}

.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative
}

.hpanel.panel-group .panel-body:first-child {
    border-top: 1px solid #e4e5e7
}

.hpanel.panel-group .panel-body {
    border-top: none
}

.hpanel {
    background-color: none;
    border: none;
    box-shadow: none;
    margin-bottom: 25px
}

.hpanel .alert {
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #e4e5e7;
    border-bottom: none
}